@media screen and (max-width: 768px){
	.top-bar {
    padding: 0px 0px 0px 0px;
}
.top-bar-section .left {
    padding-left: 0px;
}
}
@media only screen and (min-width: 40.0625em){
.top-bar-section li:not(.has-form) a:not(.button) {
    background:#232323;
    }}
@media screen and (max-width: 1024px){
	.box {
    padding: 10px 20px 10px 20px;
}
.social-net-links {
    padding-left: 19%;
}
}
@media screen and (max-width: 768px){
	.box {
    padding: 10px 20px 10px 20px;
}
.social-net-links {
    padding-left: 21%;
}
}
@media screen and (max-width: 435px){
	.box {
    padding: 10px 25px 10px 25px;
}
.social-net-links {
    padding-left: 22%;
}
}
@media screen and (max-width: 360px){
.social-net-links {
    padding-left: 15%;
}}


@media only screen and (min-width: 64.0625em){
.column, .columns {
    padding-left: 10px;
    padding-right: 10px;
    }}
@media screen and (max-width: 640px){
        ul.right > li:nth-child(1){
        	float: left;
    padding-left: 38%;
    padding-right: 10px;
    padding-top: 9px;
}
ul.left > li:nth-child(1) > a , ul.left > li:nth-child(2) > a{
text-align: center;
}
}