<h4>Found <%= users.count %> users</h4>
<div class="foundUsers">
  <div class="small-8 columns">
    <% users.each do |user| %>
      <div class="small-8 columns">
        <%= link_to user.name, user_path(user) %>
      </div>
      <div class="small-4 columns">
        <div id="invite-<%= user.id %>">
          <%= render partial: "admin_invitations/invite_form", locals: { user: user, project: project } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    $('form.new_admin_invitation').submit(function(e) {
      e.preventDefault();
      $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize()
      }).done(function(data) {
        $("#invite-" + data.user_id).hide();
      }).fail(function(data) {
        alert("Sorry, something went wrong.")
      });
    });
  });
</script>