<a href="#" class="button" data-reveal-id="userSearchPopup">Invite Admin</a>

<div id="userSearchPopup" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="userSearchPopupTitle">Search users</h2>

  <%= form_tag(users_search_teams_path, :method => "get", remote: true) do %>
      <%= text_field_tag :search, nil, placeholder: "Search Users" %>
      <%= submit_tag "Search" %>
  <% end %>

  <div class="userSearchResults">

  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>