<div class="row team-buttons">
  <div class="small-2 columns">
    <% if !current_user.nil? %>
        <div id="admin-request">
          <%= render partial: "admin_requests/request_form", locals: { user: current_user, project: @project } %>
        </div>
    <% end %>
  </div>
  <div class="small-9 columns"><%= render "teams/users_search_popup" %></div>
</div>

<% @project.team.team_memberships.each do |team_membership| %>
  <%= render "projects/cards/team_membership", team_membership: team_membership %>
<% end %>

<script>
  $(function() {
    $('.team-member .box').matchHeight();
    JsonFormsHelper.InitializeAdminRequestsControls();
  });
</script>

<style>
  .team-buttons {
    margin-bottom: 15px;
  }
</style>