<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      We are notifying you that reserve wallet balance is getting low and it currently has a balance of <%= @balance %> BTC
    </p>
  </body>
</html>
