<% unless @dm_chatroom_users.blank? %>
    <% @dm_chatroom_users.each do |user| %>
        <li class="s-group-messages__submenu-item _message">
          <a href="#" class="one-user-chat" id="<%= user.id %>" name=""> <%= user.display_name %> 
            <%-if Chatroom.find(user.dm_chatroom_id_shared_with(current_user)) %>
              <span><%= Chatroom.find(user.dm_chatroom_id_shared_with(current_user)).user_message_read_flags.unread.for_user_count(current_user) %></span>
            <%-end%>
          </a>
        </li>
    <% end %>
<% end %>
<script>
    $(document).ready(function() {
        $(".one-user-chat").click(function () {
            $that = $(this);
            $("div#message-load-image").show();
            user_id = $(this).attr('id');
            project_id = $(this).attr('name');
            $.ajax({
                url: "/group_messages/get_chatroom",
                type: "post",
                data: {user_id: user_id},
                success: function () {
                    $('.s-group-messages__submenu-item').removeClass('_active');
                    $('.one-user-chat[id=' + user_id + ']').parent().addClass('_active');
                }
            });
        });
    })
</script>
