<% unless @team_memberships.blank? %>
    <% @team_memberships.each do |team_membership| %>
        <li class="s-group-messages__submenu-item">
          <a href="#" class="projects-chat" name="<%= team_membership.team_member.id %>" id="<%= team_membership.team.project_id %>"> <%= team_membership.team_member.name %> </a>
        </li>
    <% end %>
<% end %>