<% unless @team_members.blank? %>
    <% @team_members.each do |user| %>
        <li>
          <a href="#" class="s-group-messages__submenu-item" id="<%= user.user_id %>" name="<%= user.chatroom.project_id %>"> <%= user.user.name %> </a>
        </li>
    <% end %>
<% end %>
<script>
  $(".s-group-messages__submenu-item").click(function () {
    $("div#message-load-image").show();
    user_id = $(this).attr('id');
    project_id = $(this).attr('name');
    $.ajax({
      url: "/group_messages/get_chatroom",
      type: "post",
      data: {project_id: project_id, user_id: user_id},
      success: function () {
      }
    });
  });
</script>
