#product-modal #InviteModel {
  z-index: 1050 !important; // todo FD: remove this : I see inline z-index without any reason
}

div.modal-share { // todo FD: remove div : now I need this because of huge amount !important's in code
  top: 0 !important; // todo FD: remove when modals will be refactored : I see top 100px !important without any reason
}
.modal-share {
  font-size: 0;
  background-color: rgba(74, 73, 74, 0.7);
  text-align: center;
  &:after {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
  }
  &__close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    &:after {
      transform: rotate(45deg);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:before,
    &:after {
      content: '';
      width: 22px;
      height: 1px;
      background: #777;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      transition: background .2s;
    }
    &:focus,
    &:hover {
      background: transparent;
      outline: none;
      .desktop & {
        &:before,
        &:after {
          background: #000;
        }
      }
    }
  }
  &__content {
    padding: 40px 80px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
}