// ToDo remove these styles after refactoring views/_edit_project_modal.html.erb, looks like there's a form and these styles should be moved there

.modal-edit-img,
.modal-edit-bcg {
  z-index: 1050;
  .btn-upload {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .modal-default__content {
    max-width: 700px;
  }
  .btn-root + .btn-root {
    margin-left: 30px;
  }
}