<div id="blockUserModal" class="modal-default modal-block-user" role="dialog" tabindex="-1">
  <div class="modal-default__content">
    <button type="button" class="modal-default__close"></button>
    <h4 class="modal-default__title"><%= t('.confirmation_message') %> <a href='#'><%= t('commons.anonymous') %></a>?</h3>

    <a href="#" class='btn-root _agree revision-status-btn _block-user'><%= t('commons.ok') %></a>
    <button type='button' class='btn-root _decline' data-modal-close><%= t('commons.cancel') %></button>
  </div>
</div>
