<div id="blockUserModal" class="modal-default modal-block-user" role="dialog" tabindex="-1">
  <div class="modal-default__content">
    <button type="button" class="modal-default__close"></button>
    <h4 class="modal-default__title">Are you sure you want to block <a href='#'>Anonymous</a>?</h3>

    <a href="#" class='btn-root _agree'>Ok</a>
    <button type='button' class='btn-root _decline' data-modal-close>Cancel</button>
  </div>
</div>