<div id="changeLanguageModal" class="modal-default modal-change-language" role="dialog" style="z-index: 1050" tabindex="-1">
  <div class="modal-default__content">
    <button type="button" class="modal-default__close"></button>
    <h4 class="modal-default__title">Select the language</h4>
    <div class="modal-change-language__content">
        <ul class="modal-change-language__list">
          
        </ul>
    </div>
  </div>
</div>

<script>
  function sendRequestForChangeLanguage(id, lang) {
      var userNewData = {
              user: {
                  preferred_language: lang,
              }
          }
      $.ajax({
          url: '/users/' +  id,
          method: 'PUT',
          data: userNewData,
          success: function(res) {
              location.reload();
          }
      })
  }
  $(document).ready(function() {
    var availableLanguages = [
      {
        name: 'English',
        tagName: 'en',
        flag: 'svg-uk-flag',
        clickHandler: function() {
          location.assign(location.href.split('?locale')[0]);
        }
      },
      {
        name: 'Spanish',
        tagName: 'es',
        flag: 'svg-spain-flag',
        clickHandler: function() {
          location.assign(location.href.split('?locale')[0] + '?locale=es');
        }
      },
      {
        name: 'Portuguese',
        tagName: 'pt',
        flag: 'svg-portugal-flag',
        clickHandler: function() {
          location.assign(location.href.split('?locale')[0] + '?locale=pt');
        }
      }
    ];
    var languageListWrapper = $('.modal-change-language__list'),
        languageList = '';

    availableLanguages.forEach(function(lang) {
      languageList += '' +
        '<li class="modal-change-language__item" data-name="' + lang.tagName + '">' +
          '<svg focusable="false" version="1.1" class="' + lang.flag + '" aria-hidden="true">' +
            '<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#' + lang.flag + '"></use>' +
          '</svg>' +
          '<div class="modal-change-language__name">' + lang.name + '</div>' +
        '</li>'
    });

    languageListWrapper.html(languageList);

    $(document).on('click.selectLanguage', '.modal-change-language__item', function() {
      var selectedTagName = $(this).data('name'),
          currentUserId = null;

      <% if user_signed_in? %>
          currentUserId = '<%= current_user.id %>';
      <% end %>

      availableLanguages.every(function(lang) {
        if (lang.tagName === selectedTagName) {
          if (currentUserId) {
            sendRequestForChangeLanguage(currentUserId, selectedTagName);
          } else {
            lang.clickHandler();
          }
          return;
        }
        return true;
      })
    })
  })
</script>
