
<div id="walletModal" class="modal fade wallet-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title sign_up_show">Welcome!</h2>
      </div>

      <div class="modal-body text-center">
        <div class="wallet-text-wrapper">
          <p class="text-default text-center">
            We have created a bitcoin wallet for you.
          </p>
          <p class="text-default text-center">
            we have created your Wallet Backup Keys please
            Download your keys and Save Your keys at safe place. </p>
        </div>

        <a href="<%= user_wallet_transactions_download_keys_url %>" class="btn-wallet" id="wallet_button">download wallet keys</a>
      </div>

    </div>
  </div>
</div>
