<div id="errorFundModal" class="modal-default error-fund-modal" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h2 class="modal-default__title error-fund-modal__title"></h2>

        <p class="error-fund-modal__message"></p>
    </div>
</div>