<div id="errorCreateTask" class="modal-default error-create-task" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h2 class="modal-default__title">Error</h2>

        <p class="error-create-task__message">Budget field can't be empty if task isn't free.</p>
    </div>
</div>