<div id="profileEditResponse" class="modal-default modal-profile-edit-response" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h2 class="modal-default__title modal-profile-edit-response__title">Profile was successfully updated</h2>
    </div>
</div>