<div class="social-register">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <%= link_to image_tag("facebook-1.png"), user_facebook_omniauth_authorize_path %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <%= link_to image_tag("twitter-1.png"),  user_twitter_omniauth_authorize_path %>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <%= link_to image_tag("google-1.png"),  user_google_oauth2_omniauth_authorize_path %>
    </div>
  </div>
</div>