<div id="suggested_task_model_for_fund" class="modal fade wallet-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">Suggested Task</h2>
      </div>
      <div class="modal-body text-center">
        <div class="wallet-text-wrapper">
          <p class="text-default text-center">
            this task has not yet
            been approved by admin
          </p>
      </div>
      </div>
    </div>
  </div>
</div>
