<div id="thankYouFundModal" class="modal-default modal-thank-you-fund" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h2 class="modal-default__title">Thank you for your donation!</h2>

        <p class="modal-thank-you-fund__message">It can take up few hours for transaction to be completed</p>
    </div>
</div>