<div id="EditTaskWarning" class="modal modal-share modal-default" role="dialog" style="z-index: 1050" tabindex="-1">
  <div class="modal-default__content">
    <button type="button" class="modal-default__close" data-dismiss="modal"></button>
    <h3 class="modal-default__title">You can't change task description team member are working on this task.
    </h3>

  </div>
</div>

