<div id="welcomeToTeamModal" class="modal-default welcome-to-team" role="dialog" tabindex="-1">
    <div class="modal-default__content">
        <button type="button" class="modal-default__close"></button>
        <h4 class="modal-default__title">Welcome to team!</h4>
        <div class="welcome-to-team__title">How to join the team?</div>
        <ul class="welcome-to-team__options _center _three-column">
            <li class="welcome-to-team__item">
                <div class="welcome-to-team__img">
                </div>
                <div class="welcome-to-team__subtitle">Contribute to the plan</div>
            </li>
            <li class="welcome-to-team__item">
                <div class="welcome-to-team__img">
                </div>
                <div class="welcome-to-team__subtitle">Suggest a task</div>
            </li>
            <li class="welcome-to-team__item">
                <div class="welcome-to-team__img">
                </div>
                <div class="welcome-to-team__subtitle">Do or Fund a tasks</div>
            </li>
        </ul>
        <div class="welcome-to-team__title">Looking for a special role?</div>
        <ul class="welcome-to-team__options _two-column">
            <li class="welcome-to-team__item">
                <div class="welcome-to-team__subtitle">Become the Lead Editor!</div>
                <div class="welcome-to-team__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius felis quis est hendrerit, a elementum ante elementum. Vestibulum euismod faucibus vestibulum. Curabitur pulvinar dolor nec arcu aliquet iaculis.</div>
                <button type="button" class="btn-root">Apply</button>
            </li>
            <li class="welcome-to-team__item">
                <div class="welcome-to-team__subtitle">Become the Executor!</div>
                <div class="welcome-to-team__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius felis quis est hendrerit, a elementum ante elementum. Vestibulum euismod faucibus vestibulum. Curabitur pulvinar dolor nec arcu aliquet iaculis.</div>
                <button type="button" class="btn-root">Apply</button>
            </li>
        </ul>
    </div>
</div>