<div class="task-box portlet">
  <div class="portlet-content">
    <div class="btn_movecard">
      <%= task.title || "Move Card Tindo" %>
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
    <ul class="task-box-icons">
      <li><i class="fa fa-comment-o" aria-hidden="true"></i> 3</li>
      <li><i class="fa fa-paperclip" aria-hidden="true"></i> 2</li>
    </ul>
    <div class="nice round progress alert large-12 medium-12 small-12">
      <span class="meter" style="width: 70%"></span>
    </div>
    <div class="row task-4rd-row">
      <center>
        <table>
          <tr>
            <th>40%</th>
            <th>55/80</th>
            <th>19/30</th>
            <th>$8000</th>
          </tr>
          <tr>
            <td>Funded</td>
            <td>Finished</td>
            <td>Tearmates</td>
            <td>Needed</td>
          </tr>
        </table>
      </center>
    </div>
  </div>

<!-- repeating member task box ends -->
</div>
