// header utilize styles goes here

@import 'variables';

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px !important;
}

.pr10 {
  padding-right: 10px;
}
.pl10 {
  padding-left: 10px;
}

.padding-none {
  padding-right: 0;
  padding-left: 0;
}


.border-right {
  border-right: 1px solid $grey-clr;
}

.text-blue {
  color: $alt-clr !important;
  font-weight: bold;
}
