
@import 'variables';

.lin2-social {
  a:hover {
    text-decoration: none;
  }

  i.fa-facebook {
    background-color: $alt-clr;
  }
  i.fa-twitter {
    background-color: #0CAEEF;
  }
  i.fa-linkedin {
    background-color: #00A8FF;
  }
  i.fa-envelope-o {
    background-color: #ffb631;
    font-weight: bold;
  }
}

.bio {
  i#bio-edit-pencil {
    font-size: 14px;
    margin-right: 5px;
    color: #555;
  }
}

.project-wrap {
  margin-top: 15px !important;
  background-color: #eee;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px 0px rgba(145, 145, 145, 0.5);

  .big-tx {
    color: #333 !important;
  }

  .stats {
    color: #555;
  }
}

.side-nav li {
  margin-bottom: 0;

  i {
    font-size: 20px;
    color: #fff;
  }

  span.notify-wrapper {
    position: relative;
  }

  span.count {
    color: #fff;
    font-weight: 600;
    background: #00a0f3;
    line-height: 15px;
    border-radius: 50%;
    height: 15px;
    text-align: center;
    width: 15px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 5px;
  }

  &:hover {
    background-color: $alt-clr;
  }
}

.side-nav li a:not(.button):not(.submit):not(.button-xs) {
  padding: 20px 10px 20px 5px !important;
  display: inline-block;
  font-size: 16px;
}



.side-menu {
  background-color: #2a2d33;
  text-align: center;

  ul {
    background-color: #333 !important;

    li {
      a {
        font-family: 'Roboto' !important;
        color: #fff !important;
        font-weight: 600  !important;
        margin: auto;
        font-size: 1.5em  !important;

        &:hover,
        &:focus {
          color: #fff;
          text-decoration: none;
        }
      }

      &:hover {
        background-color: #000;
      }
    }
  }

  li.active {
    background-color: #000;
    border-right: 5px solid #aaa;
  }

}


.nav-header.dashboard {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  max-width: none;
  margin-right: -40px;

  ul.links-wrapper {
    background-color: #eee;

    li {
      a {
        color: #555;
        font-weight: bold;
      }
    }
    .user-dropdown li {
      background-color: #fff;
      border-color: #ddd;
      text-align: left;

      a {
        color: #555;
      }
    }
  }
}

#messages {
  img {
    border-radius: 50%;
  }
}

#new_group_message,
#chat-name {
  .columns {
    padding-left: 0;
  }
}

#page-message-content {
  padding-left: 30px;
}

.invitation.notify-card {
  background-color: #eee;
  box-shadow: 1px 1px 1px 0px rgba(145, 145, 145, 0.5);
  border-bottom: none !important;
  margin-bottom: 10px;
  padding: 10px;

  .caj {
    padding: 0;
  }

  .delete-notification {
    color: $alt-clr;
    font-size: 16px;
  }

  .notification-action {
    img {
      float: none !important;
    }
    display: block;
    color: #555;
    font-style: normal;
    font-size: 16px;
  }

  p.img-caj {
    padding-left: 32px;
  }

  .simp {
    padding-left: 0;
  }

  .notification-body {
    padding-left: 32px;
    p {
      font-size: 15px;
      color: #666;
    }
  }
}

.load-older-notifications-link {
  padding: 20px 0px;
  i {
    color: $alt-clr;
    font-size: 16px;
    margin-right: 5px;
  }
  a {
    font-size: 16px;
  }
}

