
@import 'variables';

.search-project-box {
  position: relative;
  display: inline-block;
  width: 300px;

  input[type="text"] {
    height: 34px;
    width: 100%;
    font-size: 12px;
    border-radius: 17px;
    padding: 5px 30px 5px 15px;

    &:focus {
      border-color: $alt-clr;
    }
  }

  button {
    position: absolute;
    background-color: transparent;
    padding: 5px 10px;
    display: block;
    display: block;
    top: 2px;
    color: #555;
    right: 5px;
    padding-right: 5px;
  }
}


.row {
  max-width: 100%;
  width: 100%;
}

.project-wrapper {
  max-width: 1024px;
  padding: 20px;
  display: block;
  margin: auto;
  position: relative;
}

.heading-banner {
  display: block;
  width: 100%;
  text-align: left;
}

.project-header {
  text-align: left;
  display: inline-block;
}

.search-box-wrapper {
  padding-top: 20px;
}


.projects-cards {
  padding-top: 40px;

  .card-wrapper {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(145, 145, 145, 0.5);
    background-color: #fff;
  }

  .card-img {
    border-bottom: 1px solid #999;
    margin-bottom: 10px;

    img {
      height: 120px;
      width: 100%;
      margin: auto;
    }
  }
}

.title-banner {
  padding: 10px 20px 0px;

  p {
    text-align: left;
  }

  a {
    font-weight: 600;
    font-size: 18px;
    color: #555;
  }
}

ul.info-banner {
  padding: 0px 20px 0px;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  overflow: hidden;
  width: 100%;

  li {
    float: left;
    text-align: left;

    i {
      color: #999;
      padding: 0px !important;
      font-size: 16px !important;
    }
    a, span {
      color: #999;
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.summary-banner {
  padding: 10px 20px 0px;
  p {
    color: #666;
    font-size: 14px;
  }
}

.progress-banner {
  padding: 20px 20px 0px;
}

div.progress {
  height: 10px;
  margin-bottom: 10px;
}

.report-banner-table {
  table {
    width: 100%;
  }

  tbody {
    tr td {
      padding: 0 !important;
      font-size: 13px !important;
      text-align: left;
      line-height: 1em !important;
    }
    tr.value {
      td {
        color: #555 !important;
        font-weight: bold;
      }
    }
    tr.items {
      td {
        color: $grey-clr !important;
        text-align: left;
      }
    }
  }
}

.report-banner {
  text-align: left;

  .row {
    font-size: 12px;
    color: #888;
    margin: 0 !important;
  }

  span.pull-right {
    color: #777;
    font-weight: bold;
  }
}

.team-member-wrapper {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px 0px rgba(145, 145, 145, 0.5);
  background-color: #fff;

  .member-picture {
    height: 20px;

    img {
      position: relative;
      bottom: 38px;
      width: 60px;
      height: auto;
      border-radius: 50%;
    }
  }

  .name {
    padding-top: 10px;
    padding-bottom: 5px;

    a {
      color: #111;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .role {
    p {
      font-size: 12px;
      font-style: italic;
      color: #666;
      text-align: center;
      margin-bottom: 0;
    }

    a {
      font-size: 12px;
    }
  }

  p.bio {
    font-size: 13px;
    color: #555;
    padding-top: 15px;

    a {
      font-size: 12px;
    }
  }

  ul.social-net-links {
    display: inline-block;
    li {
      margin: auto;
      padding: 0px 8px;
    }
  }
}

#Team {
  padding: 20px;
  padding-top: 50px;
  background-color: #eee;
}


.main-wrapper {
  background-color: #eee;
}



.member-box {
  padding: 10px;
  position: relative;
  background-color: #fff;
  border: none;
  box-shadow: 1px 1px 1px 0px rgba(145, 145, 145, 0.5);
  border-radius: 3px;
  min-height: 250px;

  .member-img {
    position: relative;
    margin-top: -40px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  button.delete-member {
    padding: 0;
    background: transparent;
    font-size: 22px;
    position: absolute;
    top: 0px;
    right: 7px;
    cursor: pointer;
    color: #555;

    &:hover {
      color: #333;
    }
  }

  .member-name {
    h5 {
      padding-top: 10px;
      margin: 0;
    }

    a {
      color: #333;
      font-weight: 600;
    }
  }

  .member-role {
    h5 {
      margin: 0;
    }
    span.role {
      font-style: italic;
      color: #777;
      font-size: 14px;
    }

    span.text-blue {
      font-size: 13px;
    }
  }

  p.member-bio {
    padding: 20px 10px 10px 10px;
    font-size: 14px;
    color: #555;
    font-style: italic;

    a {
      padding-left: 3px;
      font-size: 13px;
    }
  }

  .soical-links-wrapper {
    position: absolute;
    bottom: 10px;
  }

}


