
<div class="landing-header">
  <div class="header-wrap">
    <div class="landing-logo">
      <%= link_to 'WeServe', root_path %>
    </div>
    <a class="header-link border-link ml30" data-toggle="modal" data-target="#startProjectModal" class="border-link">Start a Project</a>
    <div class="pull-right register-group">
      <a id="sign_in_nav" data-toggle="modal" data-target="#registerModal">Login</a>
      <span>or</span>
      <a id="sign_up_nav" data-toggle="modal" data-target="#registerModal" class="border-link">Signup</a>
    </div>
  </div>
</div>
