<div class="content">
  <div class="hero-wrapper">
    <div class="hero-text">Transform your network into a task-force designed to solve local public issues.</div>

    <% if !user_signed_in? %>
      <%= link_to "Get Started", new_user_registration_path, class: "hero-button sign-up" %>
    <%else%>
      <%= link_to "View Projects", projects_path, class: "hero-button projects" %>
    <%end%>
  </div>

</div>
