---
http_interactions:
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=approve&page=test&revision=627
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":200}}'
  recorded_at: Tue, 30 May 2017 00:54:21 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=block&page=test&user=homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":200}}'
  recorded_at: Tue, 30 May 2017 00:38:10 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=history&page=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"id":627,"author":"Homer","timestamp":"1496099755","comment":"","size":6,"diff":-3,"status":"unknown","is_blocked":0},{"id":586,"author":"Martin
        Morava10209644256315473","timestamp":"1494944345","comment":"","size":9,"diff":9,"status":"unknown","is_blocked":0},{"id":114,"author":"Alex151","timestamp":"1481905281","comment":"","size":0,"diff":-9,"status":"unknown","is_blocked":1},{"id":72,"author":"Test1257","timestamp":"1481730484","comment":"qweqwe","size":9,"diff":9,"status":"approved","is_blocked":0},{"id":68,"author":"Test1257","timestamp":"1481728364","comment":"","size":0,"diff":0,"status":"unknown","is_blocked":0}]}'
  recorded_at: Mon, 29 May 2017 23:30:02 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=revision&page=test&revision=627
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"parent_id":586,"author":"Homer","timestamp":"1496099755","comment":"","diff":-3,"content":"a
        test","status":"unknown"}}'
  recorded_at: Mon, 29 May 2017 23:30:03 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=grant&page=test&user=homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":200}}'
  recorded_at: Tue, 30 May 2017 00:38:08 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=read&page=test&user=homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"id":43,"status":"approved","content":"hello","revision_id":72,"revision_timestamp":"1481730484","revision_author":"Test1257","page_owner":"Test1257","is_blocked":0,"pending_revisions":[{"id":586,"author":"Martin
        Morava10209644256315473","timestamp":"1494944345","comment":"","diff":9},{"id":114,"author":"Alex151","timestamp":"1481905281","comment":"","diff":-9}],"subpages":[],"contentHtml":"<p>hello\n</p>","latest_revision":{"revision_id":586,"content":"asdasdads","contentHtml":"<p>asdasdads\n</p>"}}}'
  recorded_at: Mon, 29 May 2017 23:01:02 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=read&page=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"id":43,"status":"approved","content":"hello","revision_id":72,"revision_timestamp":"1481730484","revision_author":"Test1257","page_owner":"Test1257","is_blocked":0,"pending_revisions":[{"id":586,"author":"Martin
        Morava10209644256315473","timestamp":"1494944345","comment":"","diff":9},{"id":114,"author":"Alex151","timestamp":"1481905281","comment":"","diff":-9}],"subpages":[],"contentHtml":"<p>hello\n</p>","latest_revision":{"revision_id":586,"content":"asdasdads","contentHtml":"<p>asdasdads\n</p>"}}}'
  recorded_at: Mon, 29 May 2017 23:01:02 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=read&page=unknown_page
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - '4002'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"4002","info":"Page does not exists","*":"See http://wikidev.weserve.io/api.php
        for API usage"}}'
  recorded_at: Mon, 29 May 2017 23:06:49 GMT
[...]
- request:
    method: post
    uri: http://wikidev.weserve.io/api.php?action=weserve&content=a%20test&format=json&method=write&page=test
    body:
      encoding: UTF-8
      string: user=homer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":200,"revision_id":627,"page_id":43,"is_new":0,"status":"unknown"}}'
  recorded_at: Mon, 29 May 2017 23:20:01 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=move&page=Test&page_new=New_Test&user=homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":200,"subpages_moved":[],"subpages_errored":[]}}'
  recorded_at: Tue, 30 May 2017 00:48:33 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=revoke&page=test&user=homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":200}}'
  recorded_at: Tue, 30 May 2017 00:38:09 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=unapprove&page=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - '4002'
    body:
      encoding: UTF-8
      string: '{"response":{"code":200}}'
  recorded_at: Tue, 30 May 2017 00:54:20 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=unapprove&page=test&revision=627
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - '4002'
    body:
      encoding: UTF-8
      string: '{"response":{"code":200}}'
  recorded_at: Tue, 30 May 2017 00:57:25 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=unblock&page=test&user=homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":201}}'
  recorded_at: Tue, 30 May 2017 00:38:08 GMT
recorded_with: VCR 3.0.3
