<section class="welcome-banner">
  <div class="middle-sec">
    <!--first row-->
    <div class="row">
      <center>
        <ul class="line1">
          <li><h4>By Caju</h4></li>
          <li><img src="images/profile-image.jpg"></li>
          <li> <h4> <i class="fa fa-map-marker" aria-hidden="true"></i> London</h4></li>
        </ul>
      </center>
    </div>
    <!--2nd row-->
    <div class="row banner-header">
      <center><h2>Here goes the Project Title and Porject Image</h2></center>
    </div>
    <!--3rd row -->
    <div class="row">
      <center>
        <div class="nice round progress alert large-5 medium-5 small-5">
          <span class="meter" style="width: 70%"></span>
        </div>
      </center>
    </div>

    <div class="row 4rd-row">
      <center>
        <table>
          <tr>
            <th>40%</th>
            <th>55/80</th>
            <th>19/30</th>
            <th>$8000</th>
          </tr>
          <tr>
            <td>Funded</td>
            <td>Completed Tasks</td>
            <td>Tearmates</td>
            <td>Raised</td>
          </tr>
        </table>
      </center>
    </div>

    <div class="row">
      <center><a href="#" id="myBtn" class="button round get-invo-btn">Click Here For Task Details</a></center>
    </div>

  </div>
</section>