---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 723bf0b27b89e9c23449477b02d1fed9cb3406d33efc57490f80a270d2b7d10d
      Cb-Access-Timestamp:
      - '1490762755'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"ac745afc775380bcf1c68e75ad5f5007"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30a21ed2-4f04-57ae-9d21-becb751138f4","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.00021077","currency":"BTC"},"native_balance":{"amount":"0.21","currency":"USD"},"created_at":"2017-02-20T11:02:22Z","updated_at":"2017-03-29T04:20:31Z","resource":"account","resource_path":"/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4"}}'
  recorded_at: Wed, 29 Mar 2017 04:45:58 GMT
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4/transactions
    body:
      encoding: UTF-8
      string: '{"to":"3Gz5Avp9KvGUyGfufnEwoqnqmsw1pgqs6V","amount":"1.0","currency":"BTC","description":"Tranfer
        from 30a21ed2-4f04-57ae-9d21-becb751138f4 to 3Gz5Avp9KvGUyGfufnEwoqnqmsw1pgqs6V","expand":"all","type":"send"}'
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 0ed36ef49596390569f6108a3fcfde5b2a6fd21a9ae8d2879602dee46a233669
      Cb-Access-Timestamp:
      - '1490762758'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"validation_error","message":"You don''t have that
        much."}]}'
  recorded_at: Wed, 29 Mar 2017 04:46:00 GMT
recorded_with: VCR 3.0.3
