---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - e806ca95f9f3c52f7631dcbc726099083ca866dab5b601162f642444d49ee64a
      Cb-Access-Timestamp:
      - '1490760612'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"6a7a91963ac5a53dbdf22b6fc03952d9"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30a21ed2-4f04-57ae-9d21-becb751138f4","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.00161757","currency":"BTC"},"native_balance":{"amount":"1.63","currency":"USD"},"created_at":"2017-02-20T11:02:22Z","updated_at":"2017-03-29T04:03:25Z","resource":"account","resource_path":"/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4"}}'
  recorded_at: Wed, 29 Mar 2017 04:10:14 GMT
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4/transactions
    body:
      encoding: UTF-8
      string: '{"to":"3Gz5Avp9KvGUyGfufnEwoqnqmsw1pgqs6V","amount":"0.001","currency":"BTC","description":"Tranfer
        from 30a21ed2-4f04-57ae-9d21-becb751138f4 to 3Gz5Avp9KvGUyGfufnEwoqnqmsw1pgqs6V","expand":"all","type":"send"}'
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 418ad51ecd2db43e6b78a34ddd79a1468a5907358710e209e26ebd186957179e
      Cb-Access-Timestamp:
      - '1490760614'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"156a8ce30e73870c0258cb962a468760"
      Location:
      - "/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4/transactions/b6af30cc-5e85-5ab3-a965-8c181cc48434"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"b6af30cc-5e85-5ab3-a965-8c181cc48434","type":"send","status":"pending","amount":{"amount":"-0.00140680","currency":"BTC"},"native_amount":{"amount":"-1.41","currency":"USD"},"description":"Tranfer
        from 30a21ed2-4f04-57ae-9d21-becb751138f4 to 3Gz5Avp9KvGUyGfufnEwoqnqmsw1pgqs6V","created_at":"2017-03-29T04:10:15Z","updated_at":"2017-03-29T04:10:15Z","resource":"transaction","resource_path":"/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4/transactions/b6af30cc-5e85-5ab3-a965-8c181cc48434","instant_exchange":false,"network":{"status":"pending","transaction_fee":{"amount":"0.00040680","currency":"BTC"},"transaction_amount":{"amount":"0.00100000","currency":"BTC"}},"to":{"resource":"bitcoin_address","address":"3Gz5Avp9KvGUyGfufnEwoqnqmsw1pgqs6V"},"details":{"title":"Sent
        bitcoin","subtitle":"to Bitcoin address"}}}'
  recorded_at: Wed, 29 Mar 2017 04:10:15 GMT
recorded_with: VCR 3.0.3
