html{
    overflow-x:hidden;
}
body {
    font-family: 'Slabo 27px', serif !important;
}
/*.mys{
	font-family: 'Open Sans', sans-serif !important;
}*/
.top-bar, .top-bar ul {
    background-color: #232323;
}
.green_font{
    color: #78AE00;
}
.top-bar{
    padding:0px 100px 0px 100px;
}
.title-area li h1 a{
	color:#fff;
	font-size: 18pt;
}
.top-bar-section ul li > a {
	font-size:14px;
     font-family: 'Slabo 27px', serif !important;
}
.banner-header > center > h2{
    font-family: 'Oswald', sans-serif !important;
}
.top-bar-section .left{
	padding-left: 40px;
}
.right li a img{
	height: auto;
	width:40px;
	border-radius: 50%;
	vertical-align: middle;
	border: 0;
}
.top-bar-right{
	    margin-top: -14px;
    margin-bottom: -8px;
}
.top-bar-section ul li:hover:not(.has-form) > a {
    background-color: #000000;
    color: #FFFFFF;
    background: #333333;
}
.fa-bell span{
	background-color: orange;
    padding: 2px 6px;
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    right: 5px;
}

/*welcome banner */
.welcome-banner{
	background-image: url(../images/banner-image.jpg);
	text-align: center;
    height: 440px;
    background-size:cover;
	background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
}
.middle-sec{
	padding: 50px 0px 50px 0px;
}
.middle-sec h1, h2, h3, h4, h5, h6 {
	color:#fff
}
.line1{
	margin: 0;
    list-style-type: none;
}
.line1 li{
	display: table-cell;
	padding:0px 10px 0px 10px;
}
.line1 li h4{
	font-size: 17px;
    color:#fff;
}
.line1 li img{
	width: 40px;
	height: auto;
	border-radius: 50%;
}
.line2 li {
    padding: 0px 15px 0px 15px;
}
.banner-header{
	padding:7px 0px 30px 0px;
}
.banner-header center h2{
    color:#fff;
}
.progress{
	    border-radius: 999px;
}
.progress.round .meter {
    border-radius: 999px;
}
.progress.alert .meter {
    background: #ed7f16;
    display: block;
    height: 100%;
    float: left;
}
.line2{
	margin: 0;
    list-style-type: none;
}
.line2 li{
	display: table-cell;
	padding:0px 5px 0px 5px;
}
table {
    background: none;
    border: none;
    }
table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: none;
}
table tr th, table tr td {
    color: #ffffff !important;
    font-size: 0.875rem;
    padding: 5px 15px;
    text-align: left;
}
table tr th{
    font-size: 19px;
}
.get-invo-btn{
	-webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 46px;
    font-size: 19px;
    background-color: #ed7f16;
    border-color: #ed7f16;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;

    -webkit-box-shadow: 10px 10px 33px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 33px -5px rgba(0,0,0,0.75);
box-shadow: 10px 10px 33px -5px rgba(0,0,0,0.75);
}
.get-invo-btn:hover{
	background-color: #ffb631;
}
.tab-title-class > a{
	background-color: #000000 !important;
    color: #ffffff !important;
}
.tabs-content{
	padding-top: 60px;
}
.tabs dd.active > a, .tabs .tab-title.active > a {
    background-color: #fff;
    color: #000;
    border-bottom: #000 solid 0px;
    border-top: #000 solid 1px;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
}
.tabs dd > a, .tabs .tab-title > a {
    background-color: #fff;
    font-weight: bold;
    color:#848484;

}
.tabs{
	    border-bottom: #000 solid 1px;
}
.tabs dd > a:hover, .tabs .tab-title > a:hover {
    background-color: #fff;
}
.content .row .columns h5,h6,h4,h3,h2,h1{
	color:#000;
}
.content .row .columns p {
    color: #909090;
}
.columns{
        padding-bottom: 56px;
}
.box{
	padding: 10px 10px 10px 10px;
    border: #dfdfdf solid 2px;
    border-radius: 2px;
}
.team-member-img img{
	width: 60px;
	height: auto;
	border-radius: 50%;
}
.box h6{
	font-size: 12px;
	color:#5e5e5e;
}
.box h4{
	font-size:19px;
}
.box p{
	font-size: 15px;
}
.team-member-img img{
	position: relative;
    bottom: 38px;
}
.tab-content{
	padding-top: 30px;
}
.social-net-links {
	margin:0;
	padding-left: 2%;
}
.social-net-links li i{
	font-size: 14px;
	color:#fff;
	background-color:#000;
	border-radius: 50%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-facebook{
    padding: 5px 8px;
}
.fa-linkedin{
    padding: 5px 6px;
}
.fa-link{
    padding: 5px 6px;
}
.fa-envelope{
    padding:5px 5px;
}
.task-tabs-content{
    background-color: #ececec;
    padding-left: 19px;
    padding-right: 18px;
    padding-top: 0px;
    margin-top: 21px;
}
.task{
    padding-top:0px;
    margin-top:0px;
}
.task-box-header{
    padding-bottom: 16px;
}
.task-box p{
    color:#000 !important;
    line-height: 19px;
    font-size: 15px;    
}
.task .row .columns{
    padding:20px 7px;
    border-right: #ccc solid 1px;
}
#panel2-3 > div > div:nth-child(4){
    border:none;
}

.task-box-header h6{
    font-weight: bold;
    float: left;
}
.task-box{
    padding:10px 10px;
    border: #dcdcdc solid 2px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
}
.task-box-icons{
    margin-left: 0px;
}
.task-box .progress{
    background-color: #F6F6F6;
    border: 1px solid white;
    height: 1.5625rem;
    margin-bottom: 0.625rem;
    height: 10px;
    padding:0px;
}
.task-box .progress.alert .meter {
    background: #000000;
}
.task-box-icons li{
    display: inline-block;
    padding: 0px 5px;
    font-size: 18px;
    color:#8e8e8e;
}
.task-box-icons li p{
    color: #38c1ec !important;
    font-weight: bold;
    font-family: 'Oswald', sans-serif !important;
    font-size: 13px;
}
.task-box-header button{
    float:right;
    padding:0px;
    background-color:transparent;
    color:#aaa;
    font-size: 18px;
    font-weight: bold;
}
/*.task-box-header button:focus , button:hover{
    background-color:transparent;
    border:none;
}*/
.task-box-header .dropdown.button, button.dropdown{
    padding:0px;
}
.task-box-header .dropdown.button::after, button.dropdown::after {
    display:none;
}
.task-4rd-row center table{
    margin-bottom: 0px;
}
.task-4rd-row center table tr td{
    font-size: 13px;
    color: #8e8e8e !important;
}
.task-4rd-row center table tr th ,td{
    font-size: 14px !important;
    line-height: 0px;
    color: #222222 !important;
    padding: 10px 3px !important;
    text-align: center;
}
.add-btn {
    border:none !important;
    padding:0px !important;
}
.add-btn button{
    width: 100%;
    background-color:transparent;
    border: #c1bfbf solid 1.5px;
    color: #a7a4a4;    
    transition: background-color 300ms ease-out;

}
.add-btn :hover{
    background-color: transparent;
    color:#000;
    border:#000 solid 1px;
}

/* task-details */
.task-details .row{
    padding:20px;
    background-color:#fff;
}
.task-details-right-side{
    border-left:#ccc solid 1px;
    padding:0px 10px 0px 10px;
}
.task-details-left-side{
    padding:0px 10px 0px 10px;
}
.task-desc h3{
    padding:10px 0px 10px 0px;
    color:#008CBA;
    font-weight: bold;
}
.task-desc p{
    color:#aaa;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.task-desc h4{
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}
.task-desc a{
    font-weight: bold;
}
.task-details-left-side , .task-details-left-side i , .attachments h5 i{
    color:#008CBA;
}
.comment h3 , .activity h3 , .attachments h5{
    color:#000;
    font-size: 21px;
    padding:10px 0px;
    font-weight: bold;
}
.activity-block{
    padding-bottom: 50px;
}
#cover_letter_img{
    margin-top: -4px;
    width: 60px;
}
#cover_letter_button{
    margin-left: 9%;
}
#cover_text_area{
    width: 897px; 
    height: 154px;
}
.profile-image img , .post-comment img , .activity-block img{
    float:left;
    height: auto;
    width: 40px;
    border-radius: 100%;
    margin-right:10px;
    margin-top: 7px;
    margin-bottom: 53px;
}
.post-comment img{
    margin-right:0;
}
.comment-text p , .activity-block p{
    color:#000;
    margin-bottom: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.comment-text h6 , .activity-block h6{
    color:#aaa;
    float:left;
    font-size: 13px;
}
.comment-text a , .activity-block a{
    float:right;
    padding-right:26px;
    font-weight: bold;
}
.post-comment textarea{
    float:right;
    width: 91%;
}
.post-comment button{
    padding:20px 25px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    margin-left: 2%;
}
.fund button:nth-child(1){
    border-radius: 50px;
    background-color: #46d21e;
    margin-right:5px;
}
.fund button:nth-child(2){
    border-radius: 50px;
    padding: 17px 45px;
    margin-left:5px;
}
.fund h6{
    font-weight: bold;
}
.fund h6 span{
    color:#aaa;
}
.light-blue{
    color:#10b6f5 !important
}
.fund .progress .meter{
    background:#10b6f5;
}
.button-set button{
    background-color: #f5f5f5;
    border: #cecece solid 1px;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}
.button-set button i{
    color:#10b6f5;
}
.attachment img{
    width: 83px;
    height:auto;
    float:left;
    margin-right:10px;
}
.attachment h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}
.attachment span{
    color:#aaa;
        font-size: 13px;
}
.attachment-actions{
    padding-top:16px;
}
.attachments > div > div > a:nth-child(2){
    float:right;
}

.post-comment > button:hover , .fund > center > button:nth-child(2):hover{
    background-color: #10b6f5;
}
.fund button:nth-child(1):hover{
    background-color: #85e26a;
}
.button-set button:hover{
        border: #626262 solid 1px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 96%; /* Could be more or less, depending on screen size */
}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content2 {
    background-color: #fefefe;
    margin: 6% auto;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
}

.modal-btn2{
    background-color: #9fc001;
    font-size: 21px !important;
    font-family: 'Oswald', sans-serif !important;
}
.modal-btn2:hover{
    background-color: #829d02;
}
.modal-btn1{
    background-color: #0097d0;
    font-size: 21px !important;
    font-family: 'Oswald', sans-serif !important;
}
.fund-do .row h4{
        font-size: 29px;
        padding: 12px 0px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif !important;
}
.fund-do .row h6{
    letter-spacing: 0.3px;
    font-size: 18px;
    padding-bottom: 22px;
    color:#a5a3a3;
}
.fund-do .row p{
    color:#a5a3a3;
    text-align: center;
}
strong{
    color:#000;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.footer-wrap {
	width: 100%;
	float: left;
	padding: 40px 0px 0px;
	background: #000000;
}
.footer-wrap .ft_link1 {
	display: block;
	width: 100%;
	float: left;
	margin-left: 0px;
}
.footer-wrap .ft_link1 li {
	display: block;
	float: left;
	margin: 0px 10px;
}
.footer-wrap .ft_link1 li:first-child {
	margin-left: 0px;
}
.footer-wrap .ft_link1 a {
	display: block;
	width: 100%;
	float: left;
	font-size: 18px;
	color: #00a1f1;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
.footer-wrap .ft_link2 {
	display: block;
	width: 100%;
	float: left;
	margin-left: 0px;
}
.footer-wrap .ft_link2 li {
	display: block;
	float: left;
	margin: 0px 10px 10px;
}
.footer-wrap .ft_link2 li:first-child {
	margin-left: 0px;
}
.footer-wrap .ft_link2 a {
	display: block;
	width: 100%;
	float: left;
	font-size: 15px;
	color: #fff;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
.fborder {
	width: 100%;
	float: left;
	height: 1px;
	background: #303030;
	margin: 0px 0px 15px;
}
.fweserve {
	width: 100%;
	float: left;
}
.fweserve a {
	color: white;
	text-decoration: none;
	font-size: 38px;
	font-weight: bold;
	margin-right: 7px;
	font-family: 'Open Sans', sans-serif;
}
.fweserve span {
	color: white;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.title-area .name h1 a {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 37px;
}
.tbar {
    height: 3rem;
}
.tbs_mn ul li a {
	font-weight: bold;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: bold;
	font-size: 14px;
}
.task-box p.clr1 {
	font-size: 17px;
	color: #818181;
	padding-top: 0px;
	padding-bottom: 20px;
}
.heading1 {
	font-family: 'Dosis', sans-serif;
	font-size: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.top-searchbox {
	max-width: 250px;
	position: relative;
	background: transparent;
}
.top-bar-section ul ul li {
	background: transparent;
}
.top-searchbox input[type="search"] {
	font-weight: bold;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	width: 100%;
	padding-right: 30px;
	padding-left: 15px;
	font-family: 'Open Sans', sans-serif;
}
.top-searchbox button {
	position: absolute;
	background: transparent;
	color: #c1c1c1;
	padding: 5px 10px;
	display: block;
	right: 0px;
	top: 8px;
	border-radius: 0px 30px 30px 0px;
	-webkit-border-radius: 0px 30px 30px 0px;
	-moz-border-radius: 0px 30px 30px 0px;
}
.project-search {
	max-width: 100%;
	width: 100%;
	margin-top: 25px;
}
.project-search input[type="search"] {
	 border: 1px solid black;
	 padding: 7px 15px;
	
}
.project-search button {
	top: 3px;
	right: 6px;
	color: #555;
	right: 5px;
	padding-right: 5px;
}
	
@media (max-width:1024px) {
	.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
    float: left;
}
	.top-bar {
    padding: 0px 0px 0px 0px;
}
}
@media (max-width:640px) {
	.tbs_mn ul ul li .top-searchbox {
	margin-top: 15px;
}
.tbs_mn ul ul li:first-child {
    width: 100%;
    display: block;
    clear: both;
    float: left;
}
	.tbs_mn ul ul li .top-searchbox {
		display: table;
		margin: 15px auto 10px;
		float: none !important;
	}
	.tbs_mn ul ul li {
    background: transparent;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
}
	.top-searchbox button {
		top: 2px;
	}
.project-search {
	margin-top: 5px;
}
	.heading1 {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
	}
	.top-bar .toggle-topbar.menu-icon {
		font-family: 'Dosis', sans-serif;
	}
	.columns {
    padding-bottom: 0px;
}
}
@media (min-width:841px) and (max-width:999px) {
	.tbs_mn ul li > a {
		font-size: 14px;
	}
	.tbs_mn li:not(.has-form) a:not(.button) {
    padding: 0 10px;
	}
	.tbs_mn .left {
    padding-left: 10px;
}
	.top-searchbox {
    max-width: 195px;
	}
}


/** plan css start **/

.plantop_main {
	width: 100%;
	float: left;
	background: white;
}
.plantop_wrap {
	width: 100%;
	float: left;
	background: white;
	border: 1px solid #b3b3b3;
	margin-top: 10px;
}
.plantop_wrap .efd {
	float: left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.plantop_wrap .efd li {
	float: left;
	border-right: 1px solid #b3b3b3;
}
.plantop_wrap .efd li a {
	display: block;
	color: black;
	text-transform: uppercase;
	font-size: 17px;
	padding: 15px 15px;
	float: left;
}
.plantop_wrap .efd li a img,
.plantop_wrap .efd li a span {
	float: left;
	line-height: normal;
}
.plantop_wrap .efd li a img {
	padding-right: 7px;
}
.plantop_wrap .rank_it {
	float: left;
}
.plantop_wrap .rank_it ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	padding-left: 11px;
	padding-right: 11px;
}
.plantop_wrap .rank_it ul li {
	float: left;
	padding: 17px 4px 16px;
	float: left;
	line-height: normal;
}
.plantop_wrap .rank_it ul li a {
	float: left;
	display: block;
	color: #ed7f16;
	font-size: 15px;
	line-height: normal;
}
.plantop_wrap .rank_it ul li:last-child a {
	color: #d5d5d5;
}
.plantop_wrap .rankit_text {
	float: left;
	padding: 15px 15px 15px 0px;
	border-right: 1px solid #b3b3b3;
}
.plantop_wrap .rankit_text a {
	display: block;
	color: black;
	font-size: 17px;
	float: left;
	line-height: normal;
}
.plantop_wrap .add_fav {
	float: right;
	border-right: 1px solid #b3b3b3;
}
.plantop_wrap .add_fav a {
	float: left;
	display: block;
	line-height: normal;
	padding: 15px 15px;
}
.plantop_wrap .add_fav i {
	float: left;
	color: #d5d5d5;
	font-size: 15px;
	padding-right: 8px;
	padding-top: 2px;
}
.plantop_wrap .add_fav span {
	float: left;
	color: #000000;
	font-size: 17px;
}
.plantop_wrap .social_sharelink {
	float: right;
	padding: 0px 12px;
}
.plantop_wrap .social_sharelink ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.plantop_wrap .social_sharelink ul li {
	float: left;
	line-height: normal;
	margin: 0px 3px;
}
.plantop_wrap .social_sharelink ul li a {
	float: left;
	display: block;
}
.plantop_wrap .social_sharelink ul li a span {
	float: left;
	color: black;
	font-size: 17px;
	margin-top: 15px;
    margin-bottom: 15px;
}
.plantop_wrap .social_sharelink ul li a i {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	line-height: 30px;
	color: white;
	background: #3a589e;
	text-align: center;
	padding: 0px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}
.plantop_wrap .social_sharelink ul li:nth-child(3) a i {
	background: #0caeef;
}
.plantop_wrap .social_sharelink ul li:nth-child(4) a i {
	background: #027cbb;
}
.plan_block2 {
	background: white;
	width: 100%;
	float: left;
	padding: 50px 0px 30px 0px;
}
.pb0 {
	padding-bottom: 0px;
}
.plan_block2 .paragraph1 {
	color: black;
	width: 100%;
	float: left;
	border-left: 5px solid #010101;
	padding: 0px 50px 0px 20px;
}
.plan_block2 .paragraph1 p {
	color: black !important;
}
.plan_block2 .paragraph1 p:last-child {
	margin: 0px;
}
.plan_block2 .youtube-video {
	width: 100%;
	float: left;
}
.plan_block3 {
	width: 100%;
	float: left;
	background: white;
}
.table_content_box {
	width: 100%;
	float: left;
	border: 1px solid black;
	padding: 10px 20px 20px;
	background: white;
	margin-bottom: 10px;
}
.table_content_box h1 {
	color: black;
	margin: 0px;
	padding: 0px 0px 10px;
	font-size: 22px;
	line-height: normal;
	font-weight: bold;
	font-family: 'Oswald', sans-serif !important;
	border-bottom: 2px solid #e7e7e7;
	margin-bottom: 10px;
}
.tbcontent_list {
	width: 100%;
	float: left;
	
}
.tbcontent_list ul {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: 'Oswald', sans-serif !important;
}
.tbcontent_list ul li {
	width: 100%;
	float: left;
	padding: 0px;
	margin: 0px 0px 3px 0px;
	
}
.tbcontent_list ul li h3 {
	width: 100%;
	float: left;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Oswald', sans-serif !important;
	margin-bottom: 3px;
}
.tbcontent_list ul li ul li {
	padding-left: 15px;
}
.tbcontent_list ul li ul li a {
	display: block;
	color: black;
	font-weight: 700;
	font-size: 16px;
}
.section_box {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.section_box h2 {
	font-size: 22px;
	font-weight: bold;
}
.section_box p {
	color: black !important;
}
.alltask_main {
	width: 90%;
	float: right;
}
.alltask_top {
	width: 100%;
	float: left;
	padding: 0px 0px 6px;
	border-bottom: 2px solid #e7e7e7;
}
.alltask_top h4 {
	float: left;
	font-weight: 700;
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif !important;
}
.alltask_top .btn_all {
	float: right;
	background: black;
	color: white;
	padding: 2px 18px;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	line-height: normal;
	display: block;
	font-family: 'Oswald';
	font-size: 13px;
	line-height: normal;
	margin-top: 4px;
	font-weight: 700;
}
.alltask_mid_main {
	width: 100%;
	float: left;
	border-bottom: 1px solid #d7d7d7;
}
.alltask_mid {
	width: 100%;
	float: left;
	margin-top: 15px;
	padding-bottom: 10px;
}
.alltask_mid p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: black !important;
    margin-bottom: 12px;
}
.alltask_mid .progressbar_left .progress {
    background-color: #F6F6F6;
    border: 1px solid white;
    margin-bottom: 0.625rem;
    height: 8px;
    padding: 0px;
}
.alltask_mid .progressbar_left .progress.alert .meter {
    background: #029ef3;
}
.alltask_mid .progressbar_left {
	width: 72%;
	float: left;
}
.alltask_mid .progressbar_left .task-4rd-row center table tr td {
	padding-top: 0px !important;
}
.alltask_mid .progressbar_left .task-4rd-row center table tr th {
	font-size: 15px !important;
}
.alltask_mid .progressbar_right {
	width: 25%;
	float: right;
}
.clear {
	clear: both;
	height: 0px;
	margin: 0px !important;
	padding: 0px !important;
}
.btn_fund {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.btn_fund a {
	background: #9fc001;
	color: white;
	font-size: 13px;
	padding: 2px 0px;
	display: block;
	width: 60px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	float: right;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
.btn_do {
	width: 100%;
	float: left;
}
.btn_do a {
	background: #0097d0;
	color: white;
	font-size: 13px;
	padding: 2px 0px;
	display: block;
	width: 60px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	float: right;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

/** pop css start **/

/* General styles for the modal */

/* 
Styles for the html/body for special modal where we want 3d effects
Note that we need a container wrapping all content on the page for the 
perspective effects (not including the modals and the overlay).
*/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 990px;
	min-width: 990px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	background: white;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 0px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
    display: block;
    margin: 0;
    background: transparent;
    font-size: 0.8em;
    padding: 0px;
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.modal_box {
	width: 100%;
	float: left;
}

.md-content > .modal_box {
	width: 100%;
	float: left;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.modal_left {
	max-width: 640px;
	min-width: 640px;
	float: left;
	padding: 20px 37px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.modal_lefttop {
	width: 100%;
	float: left;
}
.modal_lefttop h1 {
	color: black;
	margin: 0px;
	padding: 0px;
	float: left;
	font-size: 28px;
	font-family: 'Oswald';
}
.modal_lefttop a {
	float: right;
	background: #21a4f4;
	font-size: 16px;
	color: white;
	padding: 11px 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.modal_secbox
{
	padding-bottom: 15px;
	border-bottom: 2px solid #e7e7e7;
}
.modal_secbox p span {
	color: #1faaef;
}
.modal_right {
	max-width: 350px;
	min-width: 350px;
	float: left;
	padding: 20px 25px 20px 35px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #eeeeee;
}
.modal_right .md-close {
	float: right;
}
.modal-right-top {
	width: 100%;
	float: left;
}
.modal-right-top h1 {
	width: 100%;
	float: left;
	font-family: 'Oswald';
	font-size: 24px;
	color: black;
	margin: 10px 0px 50px;
	padding: 0px;
}
.commentbox {
	background: white;
	width: 100%;
	float: left;
	padding: 10px;
	margin-bottom: 77%;
	border-left: 4px solid #23a1f6;
	position: relative;
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}
.comments_icon {
    position: absolute;
    top: 0px;
    display: table;
    left: -63px;
    width: 45px;
    height: 45px;
    text-align: center;
    background: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0px 0px 1px 1px rgba(98, 95, 95, 0.1);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(98, 95, 95, 0.1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(98, 95, 95, 0.1);
}
.comments_icon img {
	display: inline-block;
	margin-top: 13px;
}
.commentbox .cmbox_header {
	width: 100%;
	float: left;
}
.commentbox .cmbox_header .persin-img {
	width: 40px;
	height: 40px;
	float: left;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.ntd {
	float: left;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: 14px;
	font-weight: 400;
	padding-left: 10px;
	line-height: normal;
}
.ntd span {
	width: 100%;
	float: left;
	font-family: 'Open Sans', sans-serif;
	color: #828282;
	font-size: 13px;
	font-weight: 400;
}
.commentbox .cmbox_header ul {
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: normal;
}
.commentbox .cmbox_header ul li {
	float: left;
	margin: 0px 8px;
}
.commentbox .cmbox_header ul li a {
	display: block;
}
.commentbox .cmbox_header ul li a img {
	border: 0px;
}
.commentbox .cmbox_text {
	width: 100%;
	float: left;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
}
.commentbox .cmbox_text p {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 13px;
	float: left;
}
.commentbox .cmbox_text strong {
	font-weight: 700;
}
/** slim scroll css start **/

.slimScrollDiv { border:0px solid #eee; }
		.slimScrollBar { display: block !important; }
		#testDiv{margin-top:0px}
		#testDiv .sidenews li { width: 91%; margin-left: 0px; background: white; padding: 10px; margin-bottom: 17px !important; border-radius: 4px !important; -webkit-border-radius: 4px !important;  min-height: auto; box-sizing: border-box; -webkit-box-sizing: border-box;} 
		#testDiv .sidenews li .pm-li-video {margin: 0px;}  
		#testDiv .sidenews li .pm-video-thumb { width:100%; height: 120px; }    
		#testDiv .sidenews li .pm-thumb-fix { width:100%; height: 120px; }  
		
		#secondary { padding: 0 0px;}
		.widget { padding: 0 10px 10px 0px; }
		.container-fluid {padding-left: 10px;} 
		#testDiv p.pm-article-preview { 
               width: 154px;
		}
		.slimScrollBar {
			height: 100px !important;
		}      
		.ulset1 li {
		/*
			background: white;    
			*/	float: left;
				padding: 10px !important;
				box-sizing: border-box;
				-webkit-box-sizing: border-box; 
				width: 100%;  
				
		} 
		.sidearticlepreview {width:200px !important; text-align:justify !important}
		ul.pm-ul-carousel-videos li {padding: 0 4px 0 0 !important;}

/** slim scroll css end **/

@media (max-width: 1024px) {
	.alltask_main {
    width: 100%;
    float: left;
}
}
@media (max-width: 940px) {
.plantop_wrap .efd li a {
    font-size: 15px;
    padding: 15px 10px;
}
	.plantop_wrap .rank_it ul li {
    padding: 16px 4px 15px;
 }
	.plantop_wrap .rankit_text a {
    font-size: 15px;
  }
	.plantop_wrap .add_fav span {
    font-size: 15px;
	}
	.plantop_wrap .social_sharelink ul li a i {
    width: 25px;
    height: 25px;
    margin-top: 13px;
    line-height: 25px;
    font-size: 14px;
}
	.plantop_wrap .social_sharelink ul li a span {
    font-size: 15px;
    margin-top: 14px;
    margin-bottom: 13px;
	}
	.plantop_wrap .rankit_text {
      padding: 16px 15px 15px 0px;
	}
	.plantop_wrap .add_fav a {
      padding: 16px 15px 15px;
	}
}
@media (min-width: 769px) and (max-width: 840px) {
  .plantop_wrap .add_fav {
    border-right: 0px solid #b3b3b3;
    width: 100%;
    border-top: 1px solid #b3b3b3;
	}
}
@media (min-width: 541px) and (max-width: 768px) {
  .plantop_wrap .add_fav {
    border-right: 1px solid #b3b3b3;
    width: 50%;
    border-top: 1px solid #b3b3b3;
	}
 .plantop_wrap .social_sharelink {
    border-right: 0px solid #b3b3b3;
    width: 50%;
    border-top: 1px solid #b3b3b3;
	}
	.plantop_wrap .rankit_text {
      border-right: 0px solid #b3b3b3;
	}
}
@media (max-width: 540px) {
	.plantop_wrap .efd {
       width: 100%;
      border-bottom: 1px solid #b3b3b3;
	}
	.plantop_wrap .efd li {
      width: 33.333%;
	}
	.plantop_wrap .efd li:last-child {
      border-right: 0px;
	}
	.plantop_wrap .rank_it {
    width: 50%;
    border-bottom: 1px solid #b3b3b3;
	border-right: 1px solid #b3b3b3;
}
	.plantop_wrap .rankit_text {
    border-right: 0px solid #b3b3b3;
	}
	.plantop_wrap .social_sharelink {
    border-bottom: 1px solid #b3b3b3;
    width: 50%;
    padding: 2px 12px;
	}
	.plantop_wrap .add_fav {
    float: left;
}
}
@media (max-width: 460px) {
	.plantop_wrap .efd {
       width: 100%;
      border-bottom: 1px solid #b3b3b3;
	}
	.plantop_wrap .efd li {
      width: 33.333%;
	}
	.plantop_wrap .efd li:last-child {
      border-right: 0px;
	}
	.plantop_wrap .rank_it {
    width: 100%;
}
	.plantop_wrap .rankit_text {
    border-right: 0px solid #b3b3b3;
	}
	.plantop_wrap .social_sharelink {
    width: 100%;
	}
	.plantop_wrap .add_fav {
    float: left;
}
	.plantop_wrap .rank_it {
		border-right: 0px;
	}
	
}
@media screen and (max-width: 420px) {
  .plantop_wrap .efd li {
      width: 100%;
	}
}
@media screen and (max-width: 32em) {
	body { font-size: 75%; }
}



