<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %></h1>
    <p>
      <%= @task.project.user.name %>
      Accepted suggested task
      <%= link_to @task.project.title, project_path(@task.project.id) %>
    </p>
  </body>
</html>
