<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.greeting', user_name: @interested_user.display_name) %></h1>
    <p>
      <%= t('.body', task_title: @task.title, assignee_name: @assignee.display_name) %>
    </p>
  </body>
</html>
