<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @receiver.name %>,</p>
    <p>
      Task <%=@task.title%> for project <%= link_to @task.project.title, project_url(@task.project.id)%> has not been accepted by the project leader.
    </p>
  </body>
</html>
