<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= t('.greeting', receiver_name: @receiver.display_name) %>
    </p>
    <p>
      <%= t('.body_html', task_title: @task_title, project_url: link_to(@project.title, project_url(@project.id)), admin_name: @admin.display_name).html_safe %>
    </p>
  </body>
</html>
