<link href="/static/ManishNotifications/css/style.css" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
rel="stylesheet"  type='text/css'>

<% content_for :title do %>
  My notifications
<% end %>

<div class="row expanded" data-equalizer data-equalizer-mq="large-up">
  <%= render 'users/sidebar' %>
  <div class="small-12 medium-10 columns" data-equalizer-watch>
    <div class="content notifications-container">
      <% @notifications.each do |notification| %>
        <%= render partial: "notifications/#{notification.source_model_type.underscore}/#{notification.action}",
                   layout: "notification_layout",
                   locals: { notification: notification }
        %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    JsonFormsHelper.InitializeNotificationsControls();
    $(".notifications-container").scrollTop($(".notifications-container")[0].scrollHeight);
  });
</script>