<link href="/static/ManishNotifications/css/style.css" rel="stylesheet">

<% content_for :title do %>
  My notifications
<% end %>

<div class="row expanded" data-equalizer data-equalizer-mq="large-up">
  <div class="small-12 medium-7 columns" data-equalizer-watch>
    <div class="content">
      <ul>
        <% @notifications.each do |notification| %>
          <li>
            <%= render partial: "notifications/#{notification.source_model_type.underscore}/#{notification.action}", locals: { notification: notification } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
  $(function() {
    NotificationSubmittingHelper.Initialize();
  });
</script>