<%= render 'layouts/menu', user: @user %>

<% content_for :title do %>
  My notifications
<% end %>

<div class="row expanded collapse" data-equalizer data-equalizer-mq="large-up">
  <%= render 'users/sidebar' %>
  <div class="small-12 medium-10 columns" data-equalizer-watch>
    <div id="tabcontentdiv">
      
      <div class="content">
        <%= render "notifications" %>
      </div>

    </div>
  </div>
</div>