<link href="/static/ManishNotifications/css/style.css" rel="stylesheet">
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
rel="stylesheet"  type='text/css'>

<% content_for :title do %>
  My notifications
<% end %>

<div class="content notifications-container">
  <h2>My Notificaitons</h2>

  <%= render partial: 'load_older_link', locals: { notifications: @notifications } %>
  <%= render @notifications %>
</div>

<script>
  $(function() {
    JsonFormsHelper.InitializeNotificationsControls();
    $(".notifications-container").scrollTop($(".notifications-container")[0].scrollHeight);
  });
</script>