<link href="/static/ManishNotifications/css/style.css" rel="stylesheet">

<% content_for :title do %>
  My notifications
<% end %>

<div class="row expanded" data-equalizer data-equalizer-mq="large-up">
  <%= render 'users/sidebar' %>
  <div class="small-12 medium-7 columns" data-equalizer-watch>
    <div class="content">
      <% @notifications.each do |notification| %>
        <%= render partial: "notifications/#{notification.source_model_type.underscore}/#{notification.action}", locals: { notification: notification } %>
      <% end %>
    </div>
  </div>
</div>