<div class="menu-content">
  <div class="large-3 medium-4 small-12 columns">
    <div class="row">
      <div class="not-list">
        <ul class="Notifi">
          <li class="not"><h4 class="header"> <i class="fa fa-bell-o" aria-hidden="true"></i>Notificatons <i class="fa fa-cog" aria-hidden="true"></i></h4> </li>
        </ul>
        <% @user.activities.each_with_index do |activity, i| %>
          <ul class="Notifi-1">
            <li class="not">
              <a href="#">
                <div class="pro"><%= activity_title(activity) %>
                  ALERT
                </div>
                <%= activity_text(activity) %>
                <div class="pro-we">WE SERVE
                  <span><%= activity.created_at.strftime('%b %dTH') %></span>
                </div>
              </a>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
