<div class="small-12 medium-6 columns">
  <h1><i class="icon-user"></i>Comments</h1>
  <div>
    <div class="profile-comments">
      <%= render @profile_comments %>
    </div>
    <div class="load-more-comments-link">
      <%= link_to "Upload more", profile_comments_path(user_id: @user.id, last_comment_id: @profile_comments.last.id), remote: true %>
    </div>
    <div class="row">
      <%= render "users/comment_form" %>
    </div>
  </div>
</div>
<style>
  .load-more-comments-link {
    text-align: center;
  }
</style>
