<div class="modal-default modal-edit-img" id="profile-img-edit" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-default__content" role="document">
      <button class="modal-default__close" type="button"></button>
      <h3 class="modal-default__title">Edit Profile Image</h3>
      <%= form_for @user do |f| %>
        <div class="cropbox-wrap">
          <%= f.cropbox :picture %>
        </div>
        <%= f.file_field :picture, class: 'btn-upload', onchange: "previewProfileImage(this);"%>
        <button class="btn-root" name="commit" data-modal-close>Save Changes</button>
        <button type="button" class="btn-root _dark" data-modal-close>Cancel</button>
      <% end %>
  </div>
</div>
