<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<link href="/static/users/css/font-awesome.css" rel="stylesheet">
<link href="/static/users/css/style.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

<% content_for :title do %>
  My projects
<% end %>

<div class="row expanded" data-equalizer data-equalizer-mq="large-up">
  <%= render 'users/sidebar' %>
  <div class="small-12 medium-10 columns" data-equalizer-watch>
    <div id="tabcontentdiv">
      <div class="content">
        <%= render "my_projects" %>
      </div>
    </div>
  </div>
</div>