<div class="expanded margin-none dashboard-wrapper">
  <% if current_user %>
      <%= render 'layouts/sidebar_navigation' %>
  <% end %>

  <section class="s-wallet">
    <div class="container-own">
      <h1 class="s-wallet__title">My Wallet</h1>
      <% if @wallet_address %>
        <%= render 'user_receive_address_section' %>
        <%= render 'user_transactions' %>
      <% else %>
        <h2>We are creating wallet for you. Please come back in a few minutes</h2>
      <% end %>
    </div>
    <% if @wallet_address %>
      <%= render 'user_make_transaction' %>
    <% end %>
  </section>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.js-toggle-content').on('click', function () {
      $(this).parents('.s-wallet__content').removeClass('_active').siblings('.s-wallet__content').addClass('_active');
    });
    $('#wallet_transaction_amount').keypress(function(eve) {
        if(eve.which == 8 || eve.which == 0){
          return true;
        }
        if ((eve.which != 46 || $(this).val().indexOf('.') != -1) && (eve.which < 48 || eve.which > 57)) {
          eve.preventDefault();
        }

    // this part is when left part of number is deleted and leaves a . in the leftmost position. For example, 33.25, then 33 is deleted
        $('#wallet_transaction_amount').keyup(function(eve) {
          if($(this).val().indexOf('.') == 0) {    $(this).val($(this).val().substring(1));
          }
        });
      });
  });
</script>

</div>
