
<% content_for :title do %>
  <%= @user.name %>
<% end %>

<div class="row expanded" data-equalizer data-equalizer-mq="large-up">
  <%= render 'users/sidebar' %>
  <div class="small-12 medium-10 columns" data-equalizer-watch>
    <div id="tabcontentdiv">
      
      <div class="content" class="active" id="profile">
        <%= render "profile" %>
      </div>

    </div>
  </div>
</div>