<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <bold><%= @user_name %> invited you for to a task </bold>
      <a href="<%=task_path(id: @task.id, taskId: @task.id, tab: 'tasks' )  %>"> <%= @task.title %> </a>
    </p>
  </body>
</html>

