<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <bold><%= @user_name %> invited you to a project </bold>
      <a href=<%= project_path(id: @project.id) %>> <%= @project.title %> </a>
    </p>
  </body>
</html>

