<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t('.greeting', user_name: @user_name)  %></h1>
    <p>
      <%= t('.body', from: @from)  %>
    </p>
    <p>
      <%= @url %>
    </p>
  </body>
</html>
