<div class="b-notification__actions">
  <% if notification.source_model.state == "suggested_task" %>
      <a href="<%= accept_task_path(notification.source_model) %>" class="btn-notify _accept">
        <svg focusable="false" version="1.1" class="svg-check">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-check"></use>
        </svg>Approve
      </a>
      <a href="<%=reject_task_path(notification.source_model)%>" remote='true' class="btn-notify _reject" title="Delete" notification-id="<%= notification.id %>">
        <svg focusable="false" version="1.1" class="svg-times">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-times"></use>
        </svg>Deny
      </a>
  <%end %>
  <% if notification.source_model.state == "accepted" %>
      <a href="#" class="btn-notify _accepted">
        <svg focusable="false" version="1.1" class="svg-check">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-check"></use>
        </svg>Accepted
      </a>
  <%end %>
</div>

