<div class="b-notification__text">
  <%= source_model.user.display_name %> suggested a task
  <%= link_to source_model.title, taskstab_project_path(source_model.project_id, tab: 'tasks', taskId: source_model.id) %>
</div>
