<% project_url = link_to(@project.title, project_url(@project.id)) %>
<% request_tab_url = link_to(t('commons.link'), taskstab_project_url(@project, tab: 'requests')) %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t('.greeting', leader_name: @leader.name) %></p>
    <%= t('.body_html', applicant_name: @applicant.name, request_type: @request_type, project_url: project_url, request_tab_url: request_tab_url).html_safe %>
  </body>
</html>
