<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= t('.body_html', request_type: @request_type, project_url: link_to(@project.title, project_url(@project.id)), leader_name: @project.leader.try(:display_name)).html_safe %>
    </p>
  </body>
</html>
