<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
</head>
<body>
    <p>
      Sorry, but your application to become a <%= @request_type %> for project <%= link_to @project.title, project_url(@project.id) %> was declined by <%= @project.leader.try(:name) %>.
    </p>
</body>
</html>
