<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" content="text/html" http-equiv='Content-Type' />
</head>
<body>
    <h6><%= t('.greeting', requester_name: @requester.name) %></h6>
    <p>
      <%= t('.body_html', task_title: @task.title, project_url: link_to(@task.project.title, project_url(@task.project.id))).html_safe %>
    </p>
</body>
</html>
