---
http_interactions:
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=read&page=my_wiki&user=taskuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - '4002'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"4002","info":"Page does not exists","*":"See http://wikidev.weserve.io/api.php
        for API usage"}}'
  recorded_at: Fri, 14 Jul 2017 02:07:12 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=history&page=my_wiki
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"id":353,"author":"Username1","timestamp":"1487784247","comment":"","size":0,"diff":0,"status":"unknown","is_blocked":0}]}'
  recorded_at: Fri, 14 Jul 2017 02:07:20 GMT
recorded_with: VCR 3.0.3
