---
http_interactions:
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts
    body:
      encoding: UTF-8
      string: '{"name":"test-wallet"}'
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - b6e691bd11fb9c8d156eca255224a913747f55ddce4ba5c0ace34f53bc73d34a
      Cb-Access-Timestamp:
      - '1490792235'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"7cf86301c58b1668328ad2a3a5b18854"
      Location:
      - "/v2/accounts/45d10e0c-fb16-5312-a86c-ba4adddceadb"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"45d10e0c-fb16-5312-a86c-ba4adddceadb","name":"test-wallet","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-03-29T12:57:15Z","updated_at":"2017-03-29T12:57:15Z","resource":"account","resource_path":"/v2/accounts/45d10e0c-fb16-5312-a86c-ba4adddceadb"}}'
  recorded_at: Wed, 29 Mar 2017 12:57:15 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/45d10e0c-fb16-5312-a86c-ba4adddceadb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - bba72e8d26c68be299de97457509de5e662f301a93cf4d82d74cb1aee55d6300
      Cb-Access-Timestamp:
      - '1490792235'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"7b3fa22c7e8ce964ca9d686f6e66288d"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"45d10e0c-fb16-5312-a86c-ba4adddceadb","name":"test-wallet","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-03-29T12:57:15Z","updated_at":"2017-03-29T12:57:16Z","resource":"account","resource_path":"/v2/accounts/45d10e0c-fb16-5312-a86c-ba4adddceadb"}}'
  recorded_at: Wed, 29 Mar 2017 12:57:16 GMT
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts/45d10e0c-fb16-5312-a86c-ba4adddceadb/addresses
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 436ce66f12714df9330ede149cca5c67c8d35e3ab5829a2ee61a9b7987f1ef50
      Cb-Access-Timestamp:
      - '1490792236'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"81a93adc43ef326acd4fa28feeb89184"
      Location:
      - "/v2/accounts/45d10e0c-fb16-5312-a86c-ba4adddceadb/addresses/43f6f695-b84b-57dc-987a-ff44bb4497b3"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"43f6f695-b84b-57dc-987a-ff44bb4497b3","address":"13aNnvNFoJXSXR6jhQCum4RN2yXa5trJk9","name":null,"created_at":"2017-03-29T12:57:17Z","updated_at":"2017-03-29T12:57:17Z","network":"bitcoin","resource":"address","resource_path":"/v2/accounts/45d10e0c-fb16-5312-a86c-ba4adddceadb/addresses/43f6f695-b84b-57dc-987a-ff44bb4497b3","callback_url":null}}'
  recorded_at: Wed, 29 Mar 2017 12:57:17 GMT
recorded_with: VCR 3.0.3
