---
http_interactions:
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts
    body:
      encoding: UTF-8
      string: '{"name":"test_user_1_wallet"}'
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 619eb2b9db3e059bc5f3c60b760639727d14d404504ec1caf3d91e9e76fa7a4f
      Cb-Access-Timestamp:
      - '1490793379'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"9193de3ba7d957cf1ecd8617b1066fa9"
      Location:
      - "/v2/accounts/918cb41d-2e41-5dfc-aa76-81e277058a88"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"918cb41d-2e41-5dfc-aa76-81e277058a88","name":"test_user_1_wallet","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-03-29T13:16:20Z","updated_at":"2017-03-29T13:16:20Z","resource":"account","resource_path":"/v2/accounts/918cb41d-2e41-5dfc-aa76-81e277058a88"}}'
  recorded_at: Wed, 29 Mar 2017 13:16:20 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/918cb41d-2e41-5dfc-aa76-81e277058a88
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 7770b8242dff730ce871e5cfbac32dc195b4034b9c375fb4f0862c9ca926a174
      Cb-Access-Timestamp:
      - '1490793380'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"03503a69f44bcc423c1d6282267fff06"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"918cb41d-2e41-5dfc-aa76-81e277058a88","name":"test_user_1_wallet","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-03-29T13:16:20Z","updated_at":"2017-03-29T13:16:21Z","resource":"account","resource_path":"/v2/accounts/918cb41d-2e41-5dfc-aa76-81e277058a88"}}'
  recorded_at: Wed, 29 Mar 2017 13:16:21 GMT
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts/918cb41d-2e41-5dfc-aa76-81e277058a88/addresses
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - ea4f9e4095248dd068ccb4a89f8a8220d0e5a01fe4695ed2616fb49ed2c25a02
      Cb-Access-Timestamp:
      - '1490793381'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"04a1fe6319903bce8e85b2f84d508198"
      Location:
      - "/v2/accounts/918cb41d-2e41-5dfc-aa76-81e277058a88/addresses/1e804ebe-9ac6-5681-accb-68694521e554"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"1e804ebe-9ac6-5681-accb-68694521e554","address":"1JopD5P7sgG1oiy42uFCCC7HQ1C52xagpB","name":null,"created_at":"2017-03-29T13:16:21Z","updated_at":"2017-03-29T13:16:21Z","network":"bitcoin","resource":"address","resource_path":"/v2/accounts/918cb41d-2e41-5dfc-aa76-81e277058a88/addresses/1e804ebe-9ac6-5681-accb-68694521e554","callback_url":null}}'
  recorded_at: Wed, 29 Mar 2017 13:16:21 GMT
[...]
