---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/test-account-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 5195354e756a2bc92a8b57c668e65050efb518051df13801771ad554d6d79ecf
      Cb-Access-Timestamp:
      - '1490677685'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"f8f1c70fd8578cc2a33517901e6ca99a"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"test-account-id","name":"cli_test","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00141545","currency":"BTC"},"native_balance":{"amount":"1.47","currency":"USD"},"created_at":"2017-03-27T13:36:38Z","updated_at":"2017-03-28T04:07:44Z","resource":"account","resource_path":"/v2/accounts/test-account-id"}}'
  recorded_at: Tue, 28 Mar 2017 05:08:07 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/test-account-id/transactions?limit=100&order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 5be4c9313b85a36a6160e2315458bfa72be5213bb9ad1d8ae9833ef28fe2581f
      Cb-Access-Timestamp:
      - '1490677687'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"7e5a0e2fbad35156d3afdd72d8591b74"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"ending_before":null,"starting_after":null,"limit":100,"order":"desc","previous_uri":null,"next_uri":null},"data":[{"id":"15333fc2-a865-534e-9236-efcfb60bc9f0","type":"transfer","status":"completed","amount":{"amount":"0.00141545","currency":"BTC"},"native_amount":{"amount":"1.47","currency":"USD"},"description":"Yes
        30","created_at":"2017-03-28T04:07:43Z","updated_at":"2017-03-28T04:07:43Z","resource":"transaction","resource_path":"/v2/accounts/test-account-id/transactions/15333fc2-a865-534e-9236-efcfb60bc9f0","instant_exchange":false,"from":{"id":"5c8e0eba-5e40-5094-88eb-d00089b62826","resource":"account","resource_path":"/v2/accounts/5c8e0eba-5e40-5094-88eb-d00089b62826"},"details":{"title":"Transferred
        bitcoin","subtitle":"from Ruslan Sharipov"}},{"id":"3081f5e5-56b2-59ba-a7b2-85bfa55eff53","type":"transfer","status":"completed","amount":{"amount":"-0.00141545","currency":"BTC"},"native_amount":{"amount":"-1.47","currency":"USD"},"description":"Yes
        29","created_at":"2017-03-28T04:07:38Z","updated_at":"2017-03-28T04:07:38Z","resource":"transaction","resource_path":"/v2/accounts/test-account-id/transactions/3081f5e5-56b2-59ba-a7b2-85bfa55eff53","instant_exchange":false,"to":{"id":"5c8e0eba-5e40-5094-88eb-d00089b62826","resource":"account","resource_path":"/v2/accounts/5c8e0eba-5e40-5094-88eb-d00089b62826"},"details":{"title":"Transferred
        bitcoin","subtitle":"to Ruslan Sharipov"}},{"id":"4aea6c8c-f7e5-56b7-b96a-b11e379e6982","type":"transfer","status":"completed","amount":{"amount":"0.00141545","currency":"BTC"},"native_amount":{"amount":"1.47","currency":"USD"},"description":"Yes
        28","created_at":"2017-03-28T04:07:33Z","updated_at":"2017-03-28T04:07[...]
