---
http_interactions:
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts
    body:
      encoding: UTF-8
      string: '{"name":"test_user_1_wallet"}'
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - ec93e005d8aa9cfe8f9d697478f6f79fe43080a510e466113f297af9ce64c0a1
      Cb-Access-Timestamp:
      - '1490794337'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"189b064dec0fe81f65bc50997d66c257"
      Location:
      - "/v2/accounts/2a544ef7-23e3-59d9-976c-7f80bbedaf77"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"2a544ef7-23e3-59d9-976c-7f80bbedaf77","name":"test_user_1_wallet","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-03-29T13:32:18Z","updated_at":"2017-03-29T13:32:18Z","resource":"account","resource_path":"/v2/accounts/2a544ef7-23e3-59d9-976c-7f80bbedaf77"}}'
  recorded_at: Wed, 29 Mar 2017 13:32:19 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/2a544ef7-23e3-59d9-976c-7f80bbedaf77
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 35a4c978359eba352f22c7f0c5261a4573d2edae4ea8de549ed443009e576b61
      Cb-Access-Timestamp:
      - '1490794339'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"d2b73f124e6260b6d2a092ff19bbae73"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"2a544ef7-23e3-59d9-976c-7f80bbedaf77","name":"test_user_1_wallet","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-03-29T13:32:18Z","updated_at":"2017-03-29T13:32:19Z","resource":"account","resource_path":"/v2/accounts/2a544ef7-23e3-59d9-976c-7f80bbedaf77"}}'
  recorded_at: Wed, 29 Mar 2017 13:32:19 GMT
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts/2a544ef7-23e3-59d9-976c-7f80bbedaf77/addresses
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 3a1d705ba4848273a558c88adb8f70edd7e93565dd443eb2e9a833c2948c3a86
      Cb-Access-Timestamp:
      - '1490794339'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"f8beaa50974f4bb6219b898fe6a2b800"
      Location:
      - "/v2/accounts/2a544ef7-23e3-59d9-976c-7f80bbedaf77/addresses/ecc493b7-de1a-5f14-b143-aee052fbfa42"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"ecc493b7-de1a-5f14-b143-aee052fbfa42","address":"1fsoT3Prv7DAWf6DPyxrmtgatCuLia3bA","name":null,"created_at":"2017-03-29T13:32:24Z","updated_at":"2017-03-29T13:32:24Z","network":"bitcoin","resource":"address","resource_path":"/v2/accounts/2a544ef7-23e3-59d9-976c-7f80bbedaf77/addresses/ecc493b7-de1a-5f14-b143-aee052fbfa42","callback_url":null}}'
  recorded_at: Wed, 29 Mar 2017 13:32:25 GMT
recorded_with: VCR 3.0.3
