---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/test-account-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - fb5b023584d3f0c5f3ae3562ae06d1aa58c478622e1407183a7b8aa0609de715
      Cb-Access-Timestamp:
      - '1490678611'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"c9f393633a63177aaa7d177b5745dacd"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"test-account-id","name":"empty","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-03-28T05:22:38Z","updated_at":"2017-03-28T05:22:40Z","resource":"account","resource_path":"/v2/accounts/test-account-id"}}'
  recorded_at: Tue, 28 Mar 2017 05:23:33 GMT
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/test-account-id/transactions?limit=100&order=desc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 04442b7a4bddd634250f0d29fa12b11a407be92fefe10084e4151954191f251c
      Cb-Access-Timestamp:
      - '1490678613'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"de650dbc7de604977954dd83b2963f5a"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"ending_before":null,"starting_after":null,"limit":100,"order":"desc","previous_uri":null,"next_uri":null},"data":[]}'
  recorded_at: Tue, 28 Mar 2017 05:23:35 GMT
recorded_with: VCR 3.0.3
