---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/test-wallet-id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - bba72e8d26c68be299de97457509de5e662f301a93cf4d82d74cb1aee55d6300
      Cb-Access-Timestamp:
      - '1490792235'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"7b3fa22c7e8ce964ca9d686f6e66288d"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"test-wallet-id","name":"test-wallet","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-03-29T12:57:15Z","updated_at":"2017-03-29T12:57:16Z","resource":"account","resource_path":"/v2/accounts/test-wallet-id"}}'
  recorded_at: Wed, 29 Mar 2017 12:57:16 GMT
