<br><br>



<div class="generalcontent">

<h4>YouServe</h4><br>

<h5><em>The Collaborative to-do list</em></h5><br>

 
 <div class="jumbo">

<main role="main">
      
      <p> YouServe brings together NGOs, community leaders, activists, experts, donors, volunteers, and workers, into a peer-to-peer task-force designed to fix local public issues. It is a crowdfunding and crowdsourcing platform meant to host community and grass-roots projects. YouServe empowers collaborators with a capacity for immediate action out of the net, directly into the world. Community leaders and institutions increase their legitimacy and effectiveness; citizen improve their governance; and workers get paid. YouServe bridges the gap between various layers of the society in the solving of common problems, and in the building of a stronger and deeper civic engagement. The collaborative features allow for public autonomous action, free from financial and political partisanship. YouServe channels anger into action by implementing long term projects and collaborative works as constructive and powerful modes of protest. Therefore, YouServe’s vocation is to appease and improve, rather than to disrupt and divide. It allows individuals to move the status quo in a serene, democratic, and powerful manner. And it does so by expending functioning local solutions with local actors. The capacity for independent collaborative action makes YouServe a sandbox for public experiments and innovations. By leveraging public action, YouServe promotes admins who build successful projects. YouServe’s lively feedback loop creates a transparent hands-on process that allows passionate collaborators worldwide becoming meaningful change agents, by donating money, time, or expertise, in a targeted way. At the same time, local actors have the flexibility to quickly respond and adapt to changing complexities on the ground, allowing for real-time task completion and real-time solutions. This versatility makes long term projects be lively, evolutive, and therefore sustainable.

      </p>
    </main>
</div>
    <br><br><br><hr>
    

    <% if !current_user %>
    <div class="signingButton">
     <br><%=link_to "Sign Up", new_user_registration_path, class:"button tiny radius" %><br>
     <%= link_to "Sign In", new_user_session_path, class:"button tiny radius" %>
    </div>
    <%end%>
  </div>
