<div class="row">

  <% @project.team.team_memberships.each do |team_membership| %>
    <%= render "projects/cards/team_membership", team_membership: team_membership %>
  <% end %>

</div>

<script>
  $(function() {
    $('.team-member .box').matchHeight();
    JsonFormsHelper.InitializeAdminRequestsControls();
    JsonFormsHelper.InitializeTeamMembersControls();
  });
</script>
