<div class="content edit-content">
  <h1 class="edit-header">Edit "<%= @project.title %>"</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @project %> |
  <%= link_to 'Back', projects_path %>
</div>
