<html class="no-js" lang="en">

<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
<link href="css/foundation.css"rel="stylesheet">
<link href="css/font-awesome.css"rel="stylesheet">
<link href="css/style.css"rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<script src="js/vendor/modernizr.js"></script>

  <header>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name logo ">
          <h1><a href="#"><img src="./img/logo.png" alt="logo"></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
         <li class="has-dropdown ">
          <a href="#" class="no-line-height">
            <div class="badge-wrap">
              <i class="icon-bell-alt" aria-hidden="true"></i>
              <span class="count">3</span>
            </div>
          </a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
            <li class="active"><a href="#">Active link in dropdown</a></li>
          </ul>
          </li>
           <li class="has-dropdown">
            <a href="#"><img src="./img/profilepic.png" alt="logo"></a>
            <ul class="dropdown">
              <li><a href="#">First link in dropdown</a></li>
              <li class="active"><a href="#">Active link in dropdown</a></li>
            </ul>
          </li>
        </ul>
        <!-- Left Nav Section -->
        <ul class="left">
          <li class="active"><a href="#">Start a Project</a></li>
          <li class="active"><a href="#">Active Projects</a></li>
        </ul>
      </section>
    </nav>
  </header>
    <div class="top_banner">
      <div class="banner_content">
        <div class="row">
          <div class="medium-8 medium-offset-2">
            <div class="sub-title">
              <span>By Caju <img src="img/user.png">&nbsp;<i class="icon-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Sao Paulo-BR</span>
            </div>
            <h2>Here goes the Project Title, the background image is the project image</h2>
            <div class="progress-widget progress-widget-lg">
              <div class="progress progress-home task_bar">
                <span class="meter" style="width:75%"></span>
              </div>
              <div class="row prgress-values-wrapper ">
                <div class="prgress_values_block small-6  medium-2 columns">
                  <div class="progress_values ">
                    <p>40%
                    <span>Funded</span></p>
                  </div>
                </div>
              <div class="prgress_values_block small-6  medium-2 columns no-pad">
                <div class="progress_values">
                  <p>55/80
                  <span>Completed Task</span></p>
                </div>
              </div>
              <div class="prgress_values_block small-6  medium-2 columns">
                <div class="progress_values">
                  <p>40/30
                  <span>Teamates</span></p>
                </div>
              </div>
              <div class="prgress_values_block small-6  medium-2 columns">
                <div class="progress_values">
                  <p>$8.000
                  <span>Raised</span></p>
                </div>
              </div>
              <div class="medium-2 columns"></div>
              <div class="medium-2 columns"></div>
            </div>
          </div><!-- progress_widget -->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <a href="#" class="button round banner_button">Get Involved</a>
    </div>
   <!-- Header banner end -->
    <dl class="tabs tabs-home" data-tab>
      <dd>
        <a class="project_menu_btn" href="#panel1">
          <span class="project_title">Project Menu <i class="icon-double-angle-right"></i></span>
        </a>
      </dd>
      <dd class="active active_tab"><a href="#panel2">Plan</a></dd>
      <dd><a class="un_active_tab" href="#panel3">Tasks<span>(50/80)</span></a></dd>
      <dd><a class="un_active_tab" href="#panel4">Team<span>(45/76)</span></a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content" id="panel1">
        <h2>Comming Soon</h2>
      </div>
      <div class="content active" id="panel2">
        <div class="row">
          <div class="medium-12 columns">
            <div class="social_bar">
              <!-- A default button-group -->
              <ul class="button-group radius ">
                <li><a href="#" class="button"><i class="icon-edit"></i>Edit</a></li>
                <li><a href="#" class="button"><img src="./img/fund.png" alt="fund icon">Fund</a></li>
                <li><a href="#" class="button"><i class="icon-check" aria-hidden="true"></i>Do a Task</a></li>
                <li><a href="#" class="button">
                <div class="star-rating-sm">
                  <i class="icon-star seleted" aria-hidden="true"></i>
                  <i class="icon-star seleted" aria-hidden="true"></i>
                  <i class="icon-star seleted" aria-hidden="true"></i>
                  <i class="icon-star seleted" aria-hidden="true"></i>
                  <i class="icon-star" aria-hidden="true"></i>
                </div>&nbsp;Rank it</a></li>
                <li><a href="#" class="button add-fav"><i class="icon-star" aria-hidden="true"></i>&nbsp;Add to Favorites</a></li>
                <li><a href="#" class="button">Share:
                <div class="share_img" style="display: inline-block;">
                  <img src="img/fb.jpg">
                  <img src="img/twitter.jpg">
                  <img src="img/linkedin.jpg">
                </div>
                </a></li>
              </ul>
            </div>
          </div>
        </div>
        <section class="blog">
          <div class="row">
            <div class="small-12 medium-7 columns">
            <div class="text_blog">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
            </div>
            <div class="small-12 medium-5 columns">
              <div class="flex-video">
                <iframe width="460" height="250" src="https://www.youtube.com/embed/sBWPCvdv8Bk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </section>
        <br />
        <div class="row">
          <div class="small-12 medium-8 columns">
            <div class="table_contents">
              <h3 class="table_border">Table of Contents</h3>
              <div class="table_body">
                <ul>
                  <span>Section1</span>
                  <li>Subsection1</li>
                  <li>Subsection2</li>
                </ul>
                <ul>
                  <span>Section2</span>
                  <li>Subsection1</li>
                  <li>Subsection2</li>
                </ul>
                <ul>
                  <span>Section3</span>
                  <li>Subsection1</li>
                  <li>Subsection2</li>
                </ul>
              </div>
            </div>
            <section class="section_content_box">
              <h2>Section1</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </section>
            <section class="section_content_box">
              <h2>Section2</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </section>
          </div>
          <div class="small-12 medium-4 columns">
            <div class="task_border ">
              <h3 class="task_title left">Tasks</h3>
              <a href="#" class="button round task_btn btn-see-all right">See all</a>
            </div>
            <div class="task_content clearfix">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>

              <div class="row">
                <div class="small-12 medium-9 columns">
                  <div class="progress task_bar">
                    <span class="meter" style="width:75%"></span>
                  </div>
                  <div class="prgress_values_block">
                    <div class="progress_values tasks_values">
                      <p style="float: none;">40%
                      <span>Funded</span></p>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">70%
                      <span>Finished</span></p>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">19/30
                      <span>Teamates</span></p>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">$8.000
                      <span>Needed</span></p>
                    </div>
                  </div>
                </div>
                <div class="small-12 medium-3 columns">
                  <a href="#" class="pull-right button round task_btn fund_btn">FUND</a>
                  <a href="#" class="pull-right button round task_btn do_btn">DO</a>
                </div>
              </div>
              <hr class="custom_hr">
              <div class="row">
                <div class="medium-9 columns">
                  <div class="progress task_bar">
                    <span class="meter" style="width:75%"></span>
                  </div>
                  <div class="prgress_values_block">
                    <div class="progress_values tasks_values">
                      <p style="float: none;">40%</p>
                      <span>Funded</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">70%</p>
                      <span>Finished</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">19/30</p>
                      <span>Teamates</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">$8.000</p>
                      <span>Needed</span>
                    </div>
                  </div>
                </div>
                <div class="medium-3 columns">
                  <a href="#" class="pull-right button round task_btn fund_btn">FUND</a>
                  <a href="#" class="pull-right button round task_btn do_btn">DO</a>
                </div>
              </div>
              <hr class="custom_hr">
              <div class="row">
                <div class="medium-9 columns">
                  <div class="progress task_bar">
                    <span class="meter" style="width:75%"></span>
                  </div>
                  <div class="prgress_values_block">
                    <div class="progress_values tasks_values">
                      <p style="float: none;">40%</p>
                      <span>Funded</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">70%</p>
                      <span>Finished</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">19/30</p>
                      <span>Teamates</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">$8.000</p>
                      <span>Needed</span>
                    </div>
                  </div>
                </div>
                <div class="medium-3 columns">
                  <a href="#" class="pull-right button round task_btn fund_btn">FUND</a>
                  <a href="#" class="pull-right button round task_btn do_btn">DO</a>
                </div>
              </div>
              <hr class="custom_hr">
              <div class="row">
                <div class="medium-9 columns">
                  <div class="progress task_bar">
                    <span class="meter" style="width:75%"></span>
                  </div>
                  <div class="prgress_values_block">
                    <div class="progress_values tasks_values">
                      <p style="float: none;">40%</p>
                      <span>Funded</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">70%</p>
                      <span>Finished</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">19/30</p>
                      <span>Teamates</span>
                    </div>
                    <div class="progress_values tasks_values">
                      <p style="float: none;">$8.000</p>
                      <span>Needed</span>
                    </div>
                  </div>
                </div>
                <div class="medium-3 columns">
                  <a href="#" class="pull-right button round task_btn fund_btn">FUND</a>
                  <a href="#" class="pull-right button round task_btn do_btn">DO</a>
                </div>
              </div>
              <hr class="custom_hr">
            </div>
          </div>
        </div>
      </div>
      <div class="content" id="panel3">
           <h2>Comming Soon</h2>
      </div>
      <div class="content" id="panel4">
        <h2>Comming Soon</h2>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/foundation/foundation.topbar.js"></script>
    <script src="js/foundation/foundation.tab.js"></script>
    <script>
      $(document).foundation();
    </script>
