<main class="main-wrapper">
  <div class="project-wrapper">

    <div class="heading-banner">
      <div class="project-header">
        <h2>Browse Projects</h2>
        <div id="paginator">
          <%= paginate @featured_projects, remote: true %>
        </div>
      </div>
    </div>

    <div class="l-project-cards"  id="search-results-show">
      <div id="error-message-show" style="background-color: red"> </div>
      <ul class="l-project-cards__list">
        <%= render "projects_page" %>
      </ul>
    </div>

    <div class="load-more">
      <h5>Scroll Down To Load More</h5>
    </div>

  </div>
</main>

<% if  @download_keys  %>
    <%= render "modal/created_wallet_modal" %>
    <script type="text/javascript">
      $('#walletModal').modal('toggle');
    </script>
    <script>
      //      window.setTimeout(function(){download_keys() },5000);
      //      function  download_keys(){
      //        window.location = "";
      //        $("#backupkeys_popup").hide();
      //      }
    </script>
<% end %>

<% if @download_keys && @start_project %>
    <script type="text/javascript">
      $('#wallet_button').click(function() {
          $('#walletModal').modal('hide');
          $('#startProjectModal').modal('toggle');
          localStorage.removeItem('start_project');
      });
    </script>
<% end %>
