# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  admin_name: First User
  admin_email: user@example.com
  admin_password: changeme
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  domain_name: example.com
  secret_key_base: <%= ENV["secret_key_base"] %>
  additional_admins:
      - email: admin0@example.com
        password: secretadmin0password
        name: Admin0 User
      - email: admin1@example.com
        password: secretadmin1password
        name: Admin1 User
      - email: admin2@example.com
        password: secretadmin2password
        name: Admin2 User
      - email: admin3@example.com
        password: secretadmin3password
        name: Admin3 User

test:
  domain_name: example.com
  secret_key_base: <%= ENV["secret_key_base"] %>

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  admin_name: First User
  admin_email: user@example.com
  admin_password: changeme
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  #secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_key_base: <%= ENV["secret_key_base"] %>
  additional_admins:
      - email: admin0@example.com
        password: secretadmin0password
        name: Admin0 User
      - email: admin1@example.com
        password: secretadmin1password
        name: Admin1 User
      - email: admin2@example.com
        password: secretadmin2password
        name: Admin2 User
      - email: admin3@example.com
        password: secretadmin3password
        name: Admin3 User
