.s-group-messages {
  position: relative;
  min-height: 100vh;
  display: flex;

  &__nav {
    background-color: #F5F5F5;
    text-align: left;
    width: 240px;
    padding: 20px 30px;
    top: 0;
    bottom: 0;

    &-title {
      margin-bottom: 25px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      letter-spacing: 1px;
      color: #000;
    }
  }

  &__submenu {
    &-title {
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #888;
    }
    &-list {
      margin: 0;
      list-style-type: none;
    }
    &-item {
      padding: 0 0 20px 0;
      &._active {
        a {
          color: #555;
          text-decoration: underline;
        }
      }
      a {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #888;
        font-weight: 500;
      }
    }
  }

  &__search-form {
    display: none;
  }

  &__user-search {
    padding: 10px 0;
    span {
      font-family: 'Roboto', sans-serif;
      color: #555;
      font-size: 1em;
      i {
        color: #333;
      }
    }
  }

  &__messages {
    margin-bottom: 20px;
  }
  &__content {
    position: relative;
    width: calc(100% - 240px);
    padding: 20px 20px 0 30px;
    h4 {
      font-family: 'Roboto', sans-serif;
      color: #000;
      font-weight: 600;
    }
    .row {
      margin: 0;
    }
  }

  &__chat {
    &-title {
      margin-bottom: 20px;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      letter-spacing: 1px;
      color: #000;
    }
  }
}