@import '../new_design/variables';

.s-header {
  &__wrapper {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #eee;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 3%;
    position: relative;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 60px;

    a {
      display: inline-block;
      vertical-align: middle;
      color: #000;
      font-weight: 600;
      font-size: 32px;

      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    font-family: 'Roboto';

    .svg-arrow-down {
      width: 11px;
      height: 7px;
      fill: $darkBackground;
    }

    .user-dropdown {
      margin-left: 26px;
      &__name {
        span {
          display: inline-block;
          vertical-align: middle;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      a {
        font-family: 'Roboto';
        color: #333;
        display: block;
        text-decoration: none;
        white-space: nowrap;
      }

      .dropdown-menu {
        li {
          background-color: #fff;
          text-align: left;
          padding: 5px 10px;

          &:hover,
          &:focus {
            background-color: #eee;
          }
          a:hover,
          a:focus {
            background-color: #eee;
          }

          &.border-top {
            padding: 8px 10px;
          }
        }
      }

      img {
        border-radius: 50%;
        margin-right: 8px;
      }
    }

    .notify-dropdown {
      margin-left: 14px;
    }

    .search-box-wrapper {
      margin: 0 10px;
      padding: 0;

      input[type="text"] {
        height: 34px;
        width: 100%;
        font-size: 12px;
        border-radius: 17px;
        padding: 0 30px 0 15px;
        margin: 0;
        box-shadow: none;
        background-color: #fff;
      }
    }


    .btn-mobile {
      color: #000;
      background: none;
      color: #000;
      border: 0;
      cursor: pointer;
      outline: none;
      font-weight: bold;
      font-size: 26px !important;
      position: relative;
      text-align: center;
    }
  }

  .header-dropdown {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    &__list {
      position: absolute;
      min-width: 230px;
      border-radius: 4px;
      border: 1px solid #979797;
      list-style-type: none;
      overflow: hidden;
      display: none;
      &._active {
        display: block;
      }
    }
    &__title {
      position: relative;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      color: #6295c6;
      cursor: pointer;
      &._active {
        &:after {
          transform: rotate(180deg);
        }
      }
      &:after {
        display: inline-block;
        content: '';
        position: absolute;
        right: -20px;
        top: 6px;
        border: 7px solid #fff;
        transform-origin: center 3.5px;
        border-top: 7px solid #cccccc;
        transition: transform .25s ease-in-out;
      }
    }
    &__item {
      font-size: 18px;
      text-align: center;
      font-weight: 500;
      letter-spacing: 1px;
      a {
        display: block;
        font-family: 'Roboto', sans-serif;
        background-color: #fff;
        color: #7f7f7f;
        padding: 10px 0;
        &:hover {
          background-color: #000;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}


@media(min-width: 1121px) {
  .s-header__right {
    a.show-tablet {
      display: none !important;
    }
  }
}

@media(max-width: 1120px) {
  .s-header {
    &__right {
      .btn-notification,
      a.show-desktop {
        display: none;
      }
      div.show-desktop {
        display: none;
      }
      a.show-tablet {
        display: inline-block;
      }
    }
  }
}

@media(max-width: 767px) {
  .s-header {
    .hidden-mobile {
      display: none;
    }
  }
}

// todo FD: remove unnecessary styles from previous version