.s-landing {
  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 70px;
    letter-spacing: 3px;
  }
  &__tabs {
    width: 100%;
    padding: 30px 0 0;
    &-item {
      display: flex;
      &._reverse {
        flex-direction: row-reverse;
      }
    }
    &-left,
    &-right {
      width: 50%;
      max-width: 50%;
      flex-basis: 50%;
    }
    &-left {
      object-fit: cover;
      object-position: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-right {
      background-color: #f7f7f7;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &-logo {
      text-align: center;
      svg {
        display: inline-block;
        width: 90px;
        height: 90px;
        margin: 0 auto 20px;
      }
    }
    &-title {
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      color: #000;
      text-align: center;
      line-height: 30px;
      margin-bottom: 30px;
      font-weight: 500;
    }
    &-info {
      font-family: 'Roboto', sans-serif;
      line-height: 34px;
      color: #888888;
      font-size: 22px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 20px;
    }
    &-button {
      text-align: center;
    }
  }
  &__features {
    background-color: #000;
    padding: 60px 0 0;
    position: relative;
    &-list {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      width: 33.333%;
      max-width: 33.333%;
      flex-basis: 33.333%;
      margin-bottom: 120px;
      padding: 0 20px;
    }
    &-logo {
      width: 100px;
      height: 100px;
      margin: 0 auto 30px;
      svg {
        width: 100%;
        height: 100%;
        fill: #fff;
      }
    }
    &-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 30px;
      color: #fff;
    }
    &-info {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      line-height: 34px;
      color: #888888;
    }
  }

  &__start {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    min-height: 350px;
    position: relative;
    &-title {
      font-size: 40px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
    }
    &-button {
      margin: 30px 0;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .s-landing {
    &__wrapper {
      padding: 0 30px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .s-landing {
    &__features {
      &-item {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .s-landing {
    &__tabs {
      &-item {
        display: block;
      }
      &-left,
      &-right {
        width: 100%;
        max-width: 100%;
        flex-basis: 100%;
      }
    }
    &__start {
      &-title {
        font-size: 30px;
        padding: 0 20px;
      }
    }
  }
}

@media only screen and (max-width: 525px) {
  .s-landing {
    &__tabs {
      background-color: #fff;
      margin-top: 0;
    }
    &__wrapper {
      padding: 0;
    }
  }
}