---
http_interactions:
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=history&page=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"id":627,"author":"Homer","timestamp":"1496099755","comment":"","size":6,"diff":-3,"status":"unknown","is_blocked":0},{"id":586,"author":"Martin
        Morava10209644256315473","timestamp":"1494944345","comment":"","size":9,"diff":9,"status":"unknown","is_blocked":0},{"id":114,"author":"Alex151","timestamp":"1481905281","comment":"","size":0,"diff":-9,"status":"unknown","is_blocked":1},{"id":72,"author":"Test1257","timestamp":"1481730484","comment":"qweqwe","size":9,"diff":9,"status":"approved","is_blocked":0},{"id":68,"author":"Test1257","timestamp":"1481728364","comment":"","size":0,"diff":0,"status":"unknown","is_blocked":0}]}'
  recorded_at: Mon, 29 May 2017 23:30:02 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=revision&page=test&revision=627
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"parent_id":586,"author":"Homer","timestamp":"1496099755","comment":"","diff":-3,"content":"a
        test","status":"unknown"}}'
  recorded_at: Mon, 29 May 2017 23:30:03 GMT
recorded_with: VCR 3.0.3
