---
http_interactions:
- request:
    method: post
    uri: http://wikidev.weserve.io/api.php?action=weserve&content=&format=json&method=write&page=test_project1
    body:
      encoding: UTF-8
      string: user=username1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":201,"revision_id":-1,"page_id":210,"is_new":0,"status":"unknown"}}'
  recorded_at: Mon, 03 Apr 2017 11:12:41 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=read&page=test_project1&user=username1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"id":210,"status":"unknown","content":"","revision_id":353,"revision_timestamp":"1487784247","revision_author":"Username1","page_owner":"Username1","is_blocked":0,"pending_revisions":[],"contentHtml":"\n<!--
        \nNewPP limit report\nCached time: 20170403111137\nCache expiry: 86400\nDynamic
        content: false\nCPU time usage: 0.000 seconds\nReal time usage: 0.001 seconds\nPreprocessor
        visited node count: 0/1000000\nPreprocessor generated node count: 2/1000000\nPost\u2010expand
        include size: 0/2097152 bytes\nTemplate argument size: 0/2097152 bytes\nHighest
        expansion depth: 0/40\nExpensive parser function count: 0/100\n-->\n\n<!--
        \nTransclusion expansion time report (%,ms,calls,template)\n100.00%    0.000      1
        - -total\n-->\n"}}'
  recorded_at: Mon, 03 Apr 2017 11:12:42 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=history&page=test_project1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"id":353,"author":"Username1","timestamp":"1487784247","comment":"","size":0,"diff":0,"status":"unknown","is_blocked":0}]}'
  recorded_at: Mon, 03 Apr 2017 11:12:42 GMT
[...]
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=history&page=test_project1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":[{"id":353,"author":"Username1","timestamp":"1487784247","comment":"","size":0,"diff":0,"status":"unknown","is_blocked":0}]}'
  recorded_at: Mon, 03 Apr 2017 11:12:45 GMT
recorded_with: VCR 3.0.3
