---
http_interactions:
- request:
    method: post
    uri: http://wikidev.weserve.io/api.php?action=weserve&content=a%20test&format=json&method=write&page=test
    body:
      encoding: UTF-8
      string: user=homer
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"code":200,"revision_id":627,"page_id":43,"is_new":0,"status":"unknown"}}'
  recorded_at: Mon, 29 May 2017 23:20:01 GMT
recorded_with: VCR 3.0.3
