---
http_interactions:
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=read&page=test&user=homer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"id":43,"status":"approved","content":"hello","revision_id":72,"revision_timestamp":"1481730484","revision_author":"Test1257","page_owner":"Test1257","is_blocked":0,"pending_revisions":[{"id":586,"author":"Martin
        Morava10209644256315473","timestamp":"1494944345","comment":"","diff":9},{"id":114,"author":"Alex151","timestamp":"1481905281","comment":"","diff":-9}],"subpages":[],"contentHtml":"<p>hello\n</p>","latest_revision":{"revision_id":586,"content":"asdasdads","contentHtml":"<p>asdasdads\n</p>"}}}'
  recorded_at: Mon, 29 May 2017 23:01:02 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=read&page=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"response":{"id":43,"status":"approved","content":"hello","revision_id":72,"revision_timestamp":"1481730484","revision_author":"Test1257","page_owner":"Test1257","is_blocked":0,"pending_revisions":[{"id":586,"author":"Martin
        Morava10209644256315473","timestamp":"1494944345","comment":"","diff":9},{"id":114,"author":"Alex151","timestamp":"1481905281","comment":"","diff":-9}],"subpages":[],"contentHtml":"<p>hello\n</p>","latest_revision":{"revision_id":586,"content":"asdasdads","contentHtml":"<p>asdasdads\n</p>"}}}'
  recorded_at: Mon, 29 May 2017 23:01:02 GMT
- request:
    method: get
    uri: http://wikidev.weserve.io/api.php?action=weserve&format=json&method=read&page=unknown_page
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - '4002'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"4002","info":"Page does not exists","*":"See http://wikidev.weserve.io/api.php
        for API usage"}}'
  recorded_at: Mon, 29 May 2017 23:06:49 GMT
recorded_with: VCR 3.0.3
