<% if notification.source_model.pending? %>
  <div id="invitation-<%= notification.source_model.id %>" class="b-notification__actions">

  <%= button_to accept_admin_invitation_path(notification.source_model),
                form_class: "f-accept-invitation",
                class: "btn-notify _accept" do %>
        <svg focusable="false" version="1.1" class="svg-check">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-check"></use>
        </svg>
        Accept
  <% end %>

  <%= button_to reject_admin_invitation_path(notification.source_model),
                form_class: "f-reject-invitation",
                class: "btn-notify _reject" do %>
        <svg focusable="false" version="1.1" class="svg-times">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-times"></use>
        </svg>
        Reject
  <% end %>

  </div>
<% else %>
  You have <%= notification.source_model.status %> the invitation
<% end %>
