/*.side-menu{
	width: 15%;
	float:left;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.side-menu ul{
	padding-top:0px;
	background-color: #0e4e6f;
	height:1024px;
}
.side-menu ul li{

}
.side-menu ul li a{
	color:#fff !important;
	padding:13px 40px !important;
	font-family: 'Oswald', sans-serif !important;
	letter-spacing: 1px;
}
.fa-bell span {
    background-color: #0d85f1;
    }
.side-nav .active{
	border-right: #0d85f1 solid 8px;
	background-color: #093e50;
}

.menu-content{
	float:right;
	width: 85%;
}
.menu-content .row h4{
	padding-top:10px;
	padding-bottom: 10px;
}
.menu-content .row h4 i{
	color:#0d85f1;
}*/
project-table > tbody > tr:nth-child(1) > td{
	color:#a4a4a4 !important;
}
.project-table{
	width:100%;
	border-color: #ccc;
	border-collapse: collapse;
}
.project-table > tbody > tr:nth-child(1){
	border-color: #fff #fff #ccc #fff;
	font-weight: bold;
}
.project-table > tbody > tr:nth-child(1) > td{
	font-size:12px !important;
	color:#838383 !important;
	text-align: left !important;
	padding:10px 26px !important;
}
.project-table tr th{
	color:#000 !important;
	font-size: 13px;
	text-align: left !important;
	padding: 5px 35px !important;
}
.project-table tr td{
	color:#000 !important;
	padding: 5px 26px !important;
	text-align: left !important;
	font-weight: bold;
}
.project-table tr td a{
	color:#000 !important;
}
.project-table > tbody > tr > td > a > i > span{
	color:#fff;
}
.see-all li{
	display:inline-block;
	float:right;
	padding-top:20px;
	padding-right:20px;
	font-weight: bold;
}
.see-all-mobile {
	display:none;
	background-color: transparent !important;
    color: #000;
    padding: 0px !important;
}
#dropdown-btn{
	    top: 22px;
    left: 20px;
}
.see-all-mobile:focus , .see-all-mobile:hover{
	color:#000;
}
#drop1 , #drop2{
	background-color: #fff !important;
}
.see-all-mobile li{
	display:block;
	float:right;
	padding-top:0px;
	padding-right:20px;
	font-weight: bold;
}
.header{
	float:left;
}
.notifi-table{
	width:100%;
	border-color: #ccc;
	border-collapse: collapse;
}
.notifi-table td{
	padding: 12px 18px !important;
	color: #000 !important;
	font-weight: bold;
}
.notifi-table > tbody > tr > td:nth-child(2){
	text-align: center;
}
.notifi-table > tbody > tr > td:nth-child(2) a{
	color:#000;
	font-size: 17px;
}
.notifi-table > tbody > tr:hover{
	background-color: #cbe4ff;
}
.columns{
	padding-bottom: 0px;
}
.compose-btn{
	background-color: #0d85f1;
    padding: 9px 18px;
    margin-right: 46px;
    position: relative;
    bottom: 14px;
    margin-bottom: 0px;
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
        border-spacing: 0;
    border-collapse: collapse;
}
@media screen and (max-width: 1148px){
	.compose-btn {
    margin-right:0px !important;
    }
        .side-menu {
    width: 20%;
}
.menu-content {
    width: 80%;
    }
}
@media screen and (max-width: 1060px){
	.see-all-mobile{
		display:block;
	}
	.see-all{
		display:none;
	}
	.compose-btn {
    color: #fff !important;
    padding: 10px 40px !important;
    }
	}
@media screen and (max-width: 767px){
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
}
@media screen and (max-width: 767px){
.table-responsive>.table {
    margin-bottom: 0;
}
}
/*@media(max-width:768px) {
.side-menu {
    width: 0%;
}
@media screen and (max-width: 1155px){
	.side-nav li {
    font-size: 13px !important;
}
}*/
/*
.menu-content {
    width: 100%;
}
.side-nav .active {
    border:none;
}*/
.toggle-button{
	display:block !important;
}
}

.toggled-side-menu{
	width: 50% !important;
}
.toggled-content{
    width: 50% !important;
}

.toggle-button{
	padding:10px 20px;
	display:none;
}
.toggle-button a{
	    padding-left: 10px;
}

a strong {
	color: white;
}
