<% content_for :title do %>
  Sign In To WeServe
<% end %>

<div class="content padded" style="background-color: #f0f0f0 ">
  <h2 align="center"> Sign In</h2>
  <div style="text-align: center;padding-bottom: 30px ;margin-top: 20px">
    <%= link_to image_tag("facebook-1.png" , :style => "width:130px; height:50px"), user_facebook_omniauth_authorize_path %>
    <%= link_to image_tag("twitter-1.png", :style => "width:130px; height:50px"),  user_twitter_omniauth_authorize_path %>
    <%= link_to image_tag("google-1.png" ,:style => "width:130px; height:50px"),  user_google_oauth2_omniauth_authorize_path %>

  </div>
  <h2 align="center">OR</h2>


  <%= react_component 'SignInModal', {authenticity_token: form_authenticity_token}%>

  <div class="term_of_service">By clicking Sign Up or Sign in , you agree to our<a href="/pages/term_of_use" style="color:blue"> Terms of Use </a> and <a href="/pages/privacy_policy" style="color:blue;">Privacy Policy</a>.</div>

</div>
