<div style="min-height: 300px; padding: 10px;">
  <h4><%= Project.human_attribute_name(field_name) %></h4>
  <p class="<%=field_name%>-content">
    <%= discussion_context_tag field_name%>
  </p>
</div>
