body {
  font-family: 'Open Sans', arial;
  height: 100%;
}

#sitewide-footer {
  background: black !important;
}


#sitewide-footer  .text_feat.footer_menu.menu > li > a {
  display: block;
  padding: 1.7rem 0.6rem;
  line-height: 1;
  color: #189dd8;
  font-size: 18px;
  margin-left: 27px;
  margin-top: 41px;
}

#sitewide-footer  .text_feat.footer_menu.menu > li > a:hover {
  background-color: #000;
  color: #fff;
  transition: 0.2s ease all;
}

#sitewide-footer  .text_platforms.footer_menu.menu > li > a {
  display: block;
  font-family: 'Open Sans', arial;
  padding: 0.3rem 0rem;
  line-height: 1;
  color: white;
  font-size: 14px;
  margin-left: 54px;
  margin-bottom: 1px;
  margin-top: -6px;
  margin-right: -15px;
}


#sitewide-footer  .my_hr {
  border-bottom: 1px solid #2c2c2c;
  max-width: 73rem;
}

#sitewide-footer  .copyrigth_platforms{
  font-family: 'Open Sans', arial;
  font-size: 18px;
  margin-bottom: 50px;
}
