@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

@import '../new_design/variables';

.b-notification {
  display: flex;
  &__mark-read {
    flex-shrink: 0;
    margin-right: 15px;
    .svg-bell {
      width: 19px;
      height: 24px;
      fill: $darkBackground;
    }
  }
  &__content {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  &__date {
    font-size: 12px;
    color: #9B9B9B;
    font-family: 'Libre Franklin', sans-serif;
    margin-top: -3px;
    display: block;
    margin-bottom: 3px;
  }
  &__wrapper {
    color: #525252;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: rgba(#EAEAEA, 55%);
    border-radius: 4px;
    padding: 5px 5px 5px 15px;
  }
  &__text {
    margin-right: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    word-break: break-all;
    word-break: break-word;
    a {
      color: #525252;
      text-decoration: underline;
      &:hover,
      &:active,
      &:visited {
        color: #525252;
      }
    }
    p {
      margin: 0;
    }
  }
  &__actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    .f-accept-invitation+.f-reject-invitation {
      margin-left: 10px;
    }
    .btn-notify+.btn-notify {
      margin-left: 10px;
    }
  }
}

.notification-item {
    cursor: pointer;
}
