._editable {
  [type="text"] {
    background: #fff;
    -webkit-appearance: none;
    border: 1px solid #000;
    padding: 5px 15px;

  }
  &.b-project-info__title [type="text"] {
    height: 45px;
  }
  .btn-root {
    border-radius: 20px;
    line-height: 1;
    &+.btn-root {
      margin-left: 15px;
    }
  }
}