@import 'colors';

.hero-button {
  background-color: $sky-blue;
  border-radius: 5px;
  color: $white;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 1rem 3rem;
  text-transform: uppercase;
  transition: 0.2s ease background-color;

  &:hover {
    background-color: $sky-blue-hover;
    color: $white;
  }
}


.button {
  &.blue {
    background-color: $sky-blue;
  }

  &.green {
    background-color: $success-green;
  }

  &.warning {
    background-color: $red !important;
  }
}

.button_to {
  padding-bottom: 6rem !important
}

.btn-root {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 600;
  padding: 7px 25px 6px;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  .desktop & {
    transition: background .2s ease-out, color .2s ease-out;
  }
  &._light {
    background-color: #fff;
    border-color: #fff;
    .tablet &:hover,
    .mobile &:hover,
    .tablet &:focus,
    .mobile &:focus {
      color: #000;
      outline: none;
    }
    .desktop &:hover,
    .desktop &:focus {
      background-color: transparent;
      color: #fff;
      outline: none;
    }
  }
}