$white: #fff;
$opaque-white: #eee;

$black: #111119;
$muted-black: #181820;

$medium-gray: #aaa2a7;

$orange: #ff7f4c;
$orange-hover: #ed8055;

$sky-blue: #39c5ff;
$sky-blue-hover: #35BBF4;

// also: greenish: 6cd4b2
