$white: #fff;
$opaque-white: #eee;

$black: #111119;
$muted-black: #181820;

$medium-gray: #a5a2aa;

$orange: #ff7f4c;
$orange-hover: #ed8055;

$sky-blue: #39c5ff;
$sky-blue-hover: #35BBF4;

$success-green: #67d4b2;
