$white: #fff;
$opaque-white: #eee;
$light-gray: #d2d2d4;
$medium-gray: #a5a2aa;
$muted-black: #1a2222;
// $black: #111119;


$orange: #ff7f4c;
$orange-hover: #ed8055;

$sky-blue: #39c5ff;
$sky-blue-hover: #35BBF4;

$success-green: #67d4b2;
