/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require jquery-ui/datepicker
 *= require foundation
 *= require font-awesome/font-awesome
 *= require glyphicon-only/glyphicon
 *= require hover
 *= require_tree .
 *= require social-share-button
 *= require chosen
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import 'colors';
@import 'layout';
@import 'fonts';
@import 'buttons';
@import 'responsive';
@import 'menu';
@import 'bootstrap-sprockets';
@import 'bootstrap';


body {
  font-family: $sans;

  .flash-messages .alert-box {
    display: block;
    text-align: center;
    width: 100%;
    max-width: none;
  } 

  a {
    color: $sky-blue;

    &:hover {
      color: $sky-blue-hover;
    }
  }

  .mycontent {
    margin-left: 40px;
  }

  .projImage {
    margin-left: 0
  }

  .tasks {
    border-left: 20 px solid #696969
  }

  .tabs {
    margin-left: 0;
  }

  .columns {
      padding-left: 1rem;
      padding-right: 0rem;
  }

  .row {
      margin-left: 0rem;
      margin-right: 0rem;
      width:auto;
  }

  .container1 {
      opacity: 0.75;
      border-radius: 5px;
      border: 2px solid #a9a9a9;
      padding: 15px 5px 5px 2px;
      height:100%;
      margin-top: 0;
      margin-bottom: 20px;
      margin-left: 40px;
      background-color: #fff;
  }

  .marginalizing {
    margin-left: 240px;
  }

  .taskarea {
    border-left: 2px dashed #a9a9a9;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }

  .gravatar_edit {
    margin-top: 15px;
  }
  
  word-break: break-all;
}
 .term_of_service{
   text-align: center;
   padding-top: 2%;
 }
 #loading-mask1 {
   background-color: white;
   height: 100%;
   left: 0;
   position: fixed;
   margin-top:50%;
   width: 100%;
   z-index: 9999;
 }
  .modal-content2{
    width: 60%
  }
  #project-success{
    display: none
  }
  html{
    font-size: 16px;
  }
  .form-actions{
    float: right;
    margin-right: 1%
  }
  #close-project-popup{
    background-color:white;
    font-size: 33px;
  }
  #upload_button{
    margin-left:auto;
    margin-right:auto;
    max-width:30%
  }
  button#inviteclose {
    background-color: white !important;
  }
  #response{
    margin-left: 10%;
    color:green;
  }
  #contacts{
    text-align: initial;
    margin-left: 3.2%;
  }
  #gmail-icon{
    margin-left:1%;
  }
  #yahoo{
    margin-left:1%;
  }
  #response-failure{
    color:red;
  }
  #response-success{
    color:green;
  }
  #cancel{
  color:white;
  float:right;
  margin-left: 3%
  }
  #failer{
    color:red;
  }
  #gmail-invite-modal{
    overflow-x: scroll;
    overflow-y: scroll;
  }
  #gmail-dialog{
    font-size: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 500px;
  }
  #succes{
    float:right;
  }
  #contacts-failure{
    color:white;
    float:right;
    margin-left: 3%
  }
  #invite-friends{
    float:right;
  }
p {
  font-size: 14px;
  font-family: Times New Roman;
  text-align: justify;
  text-justify: inter-word;
  -ms-word-break: normal;
  word-break: normal;

  // Non standard for webkit
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
li {
  font-size: 14px;
  font-family: Times New Roman;
  text-align: justify;
  text-justify: inter-word;
  -ms-word-break: normal;
  word-break: normal;

  // Non standard for webkit
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

}
.font{
  font-size: 17px;
  font-family: Times New Roman;
  text-align: justify;
  text-justify: inter-word;
  -ms-word-break: normal;
  word-break: normal;

  // Non standard for webkit
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
#term-container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#upper-paragraph{
  text-align: center;
  margin-top: 5%;
}
.headings{
  font-size: 18px;
  font-weight: bold;
  font-family: Times New Roman;
  text-align: justify;
  text-justify: inter-word;
  -ms-word-break: normal;
  word-break: normal;

  // Non standard for webkit
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
#circle{
  list-style-type:circle
}

