.top-margin{
  margin-top: 3rem;
}
.tabs dd > a, .tabs .tab-title > a {
  border: 1px solid rgba(0,0,0,0.1) !important;
}
.tabs-override-margin-4rem-left{
  margin-left: 4rem;
}
.tab {
  margin-right: -1px;
}
.content {
  margin-top: 3rem !important;
}
