.policy-heading{
    font-family: 'Libre Franklin';
    /*font-family: 'Roboto';*/
    color: #000;
}
.privacy-sub-heading-p{
margin-left: 24px ;
    color: #000;
}
.privacy-sub-heading{
    font-family: 'Libre Franklin';
    display: inline-block;
    color: #000;
    margin-left: 14px;
}
.privacy-list{
    font-family: 'Libre Franklin';
    font-size: 1.4rem;
    margin-left: 24px;
    color: #000;
}
.policy-copyright{
    float: right;
}