<!-- Messages box. includes messages and new message form -->
<div id="messages">
  <!-- Represents single message -->
  <div class="row message">
    <div class="small-1 columns">
      <a href="#"><img class="profile-image" src="images/profile-image.jpg"></a>
    </div>
    <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
      <div class="message-date">june 2016</div>
    </div>
  </div>
  <div class="row message">
    <div class="small-1 columns">
      <a href="#"><img class="profile-image" src="images/profile-image2.jpg"></a>
    </div>
    <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
      <div class="message-date">june 2016</div>
    </div>
  </div>
  <div class="row message">
    <div class="small-1 columns">
      <a href="#"><img class="profile-image" src="images/profile-image.jpg"></a>
    </div>
    <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
      <div class="message-date">june 2016</div>
    </div>
  </div>
  <h4 class="message-break">
    <span>June 21th</span>
  </h4>
  <div class="row message">
    <div class="small-1 columns">
      <a href="#"><img class="profile-image" src="images/profile-image2.jpg"></a>
    </div>
    <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
      <div class="message-date">june 2016</div>
    </div>
  </div>
  <div class="row message">
    <div class="small-1 columns">
      <a href="#"><img class="profile-image" src="images/profile-image.jpg"></a>
    </div>
    <div class="small-11 columns message-content">
              <span>This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
                This is a test message to the person.This is a test message to the person.
              </span>
      <div class="message-date">june 2016</div>
    </div>
  </div>
</div>