---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 326a9a032edace20000860f302491e2929b81824880a6e75783762659ef6d828
      Cb-Access-Timestamp:
      - '1490779647'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"3d74b80b5b80780812ef5d12220f3a74"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30a21ed2-4f04-57ae-9d21-becb751138f4","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.00000000","currency":"BTC"},"native_balance":{"amount":"0.00","currency":"USD"},"created_at":"2017-02-20T11:02:22Z","updated_at":"2017-03-29T09:25:26Z","resource":"account","resource_path":"/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4"}}'
  recorded_at: Wed, 29 Mar 2017 09:27:29 GMT
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4/transactions
    body:
      encoding: UTF-8
      string: '{"to":"5c8e0eba-5e40-5094-88eb-d00089b62826","amount":"0.21077","currency":"BTC","description":"Tranfer
        from 30a21ed2-4f04-57ae-9d21-becb751138f4 to 5c8e0eba-5e40-5094-88eb-d00089b62826","expand":"all","type":"transfer"}'
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - f02136b7c7424f4f26ce425233713671804b259e4bc921b47d73975986eaf4b8
      Cb-Access-Timestamp:
      - '1490779649'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"id":"not_found","message":"Not found"}]}'
  recorded_at: Wed, 29 Mar 2017 09:27:30 GMT
recorded_with: VCR 3.0.3
