---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 3819d148c4efbd2f9218c8a3894e6d4816ff576a0016c8d5fdb14b93bca534cf
      Cb-Access-Timestamp:
      - '1490777763'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"a3a75acfcb3349157759a19ea3a38200"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"30a21ed2-4f04-57ae-9d21-becb751138f4","name":"BTC Wallet","primary":true,"type":"wallet","currency":"BTC","balance":{"amount":"0.00021077","currency":"BTC"},"native_balance":{"amount":"0.22","currency":"USD"},"created_at":"2017-02-20T11:02:22Z","updated_at":"2017-03-29T04:20:31Z","resource":"account","resource_path":"/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4"}}'
  recorded_at: Wed, 29 Mar 2017 08:56:05 GMT
- request:
    method: post
    uri: https://api.coinbase.com/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4/transactions
    body:
      encoding: UTF-8
      string: '{"to":"5c8e0eba-5e40-5094-88eb-d00089b62826","amount":"0.00021077","currency":"BTC","description":"Tranfer
        from 30a21ed2-4f04-57ae-9d21-becb751138f4 to 5c8e0eba-5e40-5094-88eb-d00089b62826","expand":"all","type":"transfer"}'
    headers:
      Content-Type:
      - application/json
      Cb-Access-Key:
      - COINBASE_API_KEY
      Cb-Access-Sign:
      - 5f4be34abb5b5a99ff886f0e93ffcbb5fcbfc023f76a2d7fce46cd576bc4be20
      Cb-Access-Timestamp:
      - '1490777765'
      Cb-Version:
      - '2015-06-16'
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename=response.json
      Etag:
      - W/"a87fa1a28755874386f7f8f83241b2e7"
      Location:
      - "/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4/transactions/0a081224-1198-5098-9076-e811f3135b13"
      Public-Key-Pins:
      - max-age=5184000; pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg="
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"transfer","status":"completed","amount":{"amount":"-0.00021077","currency":"BTC"},"native_amount":{"amount":"-0.21","currency":"USD"},"description":"Tranfer
        from 30a21ed2-4f04-57ae-9d21-becb751138f4 to 5c8e0eba-5e40-5094-88eb-d00089b62826","created_at":"2017-03-29T08:56:07Z","updated_at":"2017-03-29T08:56:07Z","resource":"transaction","resource_path":"/v2/accounts/30a21ed2-4f04-57ae-9d21-becb751138f4/transactions/0a081224-1198-5098-9076-e811f3135b13","instant_exchange":false,"to":{"id":"5c8e0eba-5e40-5094-88eb-d00089b62826","name":"income","primary":false,"type":"wallet","currency":"BTC","balance":{"amount":"0.00121077","currency":"BTC"},"native_balance":{"amount":"1.24","currency":"USD"},"created_at":"2017-03-27T05:43:42Z","updated_at":"2017-03-29T08:56:07Z","resource":"account","resource_path":"/v2/accounts/5c8e0eba-5e40-5094-88eb-d00089b62826"},"details":{"title":"Transferred
        bitcoin","subtitle":"to Ruslan Sharipov"}}}'
  recorded_at: Wed, 29 Mar 2017 08:56:07 GMT
recorded_with: VCR 3.0.3
