<div class="search-box-wrapper show-desktop hidden-mobile">
    <%= form_tag user_search_projects_path, :method => :post, :remote => true, :id => 'search-form', :class => "search-project-box" do %>
        <input type="text" name='title' class="search-box-wrapper__input" id="userSearchTasksAndProject" placeholder="<%= t('commons.search_placeholder') %>" autocomplete="off" >
        <button type="button" name="" class="btn-search btn-reset">
            <svg focusable="false" version="1.1" class="svg-search">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-search"></use>
            </svg>
        </button>
    <% end %>
    <div class="search-result__wrapper show-desktop">
      <ul class="search-result__list"></ul>
    </div>
</div>
