<div class="hidden">
  <span id="after-sign-up-message"><%= t('devise.registrations.signed_up_but_unconfirmed') %></span>
  <span id="after-sign-in-message"><%= t('devise.sessions.signed_in') %></span>
</div>
