<div id="socialSignIn" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div style="text-align: center;">
    <%= link_to image_tag("facebook.png"), user_omniauth_authorize_path(:facebook) %>
    <%= link_to image_tag("signup-twitter.png"), user_omniauth_authorize_path(:twitter) %>
    <%= link_to image_tag("google.png"), user_omniauth_authorize_path(:google_oauth2) %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div>