
<div class="landing-header">
  <div class="header-wrap">
    <div class="landing-logo">
      <% if user_signed_in? %>
          <!-- For signed users, we should still this to redirect to root path as we have only dummy projects -->
          <%= link_to 'WeServe', root_path %>
      <%else %>
          <%= link_to 'WeServe', root_path %>
      <% end %>
    </div>

    <a class="header-link border-link ml30" data-toggle="modal" data-target="#projectSignupModal" class="border-link" id="start_project_link">Start a Project</a>
    <%= link_to 'Active Projects', projects_path, data: { no_turbolink: true }, :class => "projects-link" %>

    <div class="pull-right register-group">
      <a id="sign_in_nav" data-toggle="modal" data-target="#registerModal">Login</a>
      <span>or</span>
      <a id="sign_up_nav" data-toggle="modal" data-target="#registerModal" class="border-link">Register</a>
    </div>
  </div>
</div>
