<div class="nav-header">
  <div class="logo-container">
    <%= link_to 'WeServe', root_path %>
  </div>

  <ul class="links-wrapper ml30">
    <li>
      <a id="create_project_a" data-toggle="modal" data-target="#registerModal">Start a Project</a>
    </li>
    <li>
      <%= link_to 'Active Projects', projects_path, data: { no_turbolink: true } %>
    </li>
  </ul>

  <ul class="links-wrapper pull-right">
    <li>
      <a id="sign_in_nav" data-toggle="modal" data-target="#registerModal">Sign In</a>
    </li>
    <li>
      <a id="sign_up_nav" data-toggle="modal" data-target="#registerModal">Sign Up</a>
    </li>
  </ul>
</div>
